{template 'web/_iframe_header'}
{template 'web/_navtitle'}

<div class="panel panel-default" style="padding-top:50px;">
  <div class="panel-body">  
	<div class="panel panel-default">
	    <div class="panel-heading">
		{if $rights['delete'] == 1}
			{if $_W['role'] == 'founder'}
				<a href="javascript:;" onclick="mydelselect()" class="btn btn-danger"><i class="fa fa-trash-o"></i> 批量删除</a> 
			{/if}
		{/if}
			<span class="pull-right" style="line-height:38px;">共有数据：<strong id="count">{$total}</strong> 条</span> 
	    </div>		
		<div class="panel-body table-responsive">
			<table class="table table-hover">
				<thead class="navbar-inner">
				<tr>
					<th width="25"><input type="checkbox" name="selectall" id="selectall" value="" onClick="myallselect(this)"></th>
					<th width="40">ID</th>					
					<th>异常描述</th>		
					<th>备注</th>	
					<th>记录时间</th>
					<th width="300">操作</th>
				</tr>
			</thead>
			{loop $data $k $v}
				<tr>
					<td><input type="checkbox" value="{$v['id']}" name="myselect" id="myselect_{$k}"  ></td>
					<td>{$v['id']}</td>					
					<td>{$v['content']}</td>
					<td>{$v['remark']}</td>					
					<td>{php echo date('Y-m-d', $v['ctime'])}</td>
					<td>					
					{if $rights['delete'] == 1}
					<a href="javascript:;" onclick="mydel(this,{$v['id']})" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-trash"></i> 删除</a>{/if}
					
					</td>					
				</tr>
			{/loop}				
		</table>
	  </div>    	  
	</div>	
  </div>

{template 'web/_iframe_footer'}
{template 'web/_bottom1'}

<script type="text/javascript">
/*全选*/
function myallselect(select){ 

	var obj = document.getElementsByName('myselect'); 
	var tempsta = select.checked; 
	
	for(var k in obj){ 
		if (obj[k].checked != tempsta) {      
		     $("#myselect_"+k).prop("checked", tempsta);  
		}
	}	
}	
/*删除所选*/
function mydelselect(){   
	var count = parseInt($("#count").html());
	if (count == 0){
		return;
	}

	var obj = document.getElementsByName('myselect'); //选择所有name="myselect" id="myselect_{$k}" 的对象，返回数组 
	var i = 0;
	for(var j in obj){ 
		if (obj[j].checked) {//如果选中,则删除   
			i++;
		}
	}
	
	if (i==0){
		layer.msg('请选择要删除的对象.',{icon:0});
	   return ;
	}
	layer.confirm('确认要删除吗？',{icon: 3, title:'提示'},
	function(index){
		layer.load(1);
		layer.close(index);
		for(var k in obj){ 
			if (obj[k].checked) {//如果选中,则删除                
				$.post("{php echo $this->createWebUrl($mydo).$mywe['direct'];}",
				{op:"delabnlog",id:obj[k].value},
				function(data,status){
					 if (data=='ok'){
					 }
					 else{
						layer.msg('操作失败',{icon:0});
						return false;
					 }
				});		
			}
		}
		layer.closeAll();
		location.reload();
	});
}


/*删除*/
function mydel(obj,id){
	layer.confirm('确认要删除吗？',{icon: 3, title:'提示'},
	function(index){		
		$.post("{php echo $this->createWebUrl($mydo).$mywe['direct'];}",
			{op:"delabnlog",id:id},
			function(data,status){
			 if (data=='ok'){
				$(obj).parents("tr").remove();
				var count = $("#count").html();
				$("#count").html(count - 1);
				layer.msg('删除成功!',{icon:0});
			 }
			 else{
				layer.msg(data,{icon:0});
			 }
		});		
		layer.close(index);
    });
}

function myreturn(){
	var url = "{php echo $this->createWeburl($mydo,array('op'=>'list')).$mywe['direct'];}";	
	window.location.href = url;
}

</script>
</body>
</html>