{template 'web/_iframe_header'}
<div class="panel panel-default">
  <div class="panel-body">      
	<div class="panel panel-default">
	    <div class="panel-heading" style="height:50px">
			<span class="pull-left" style="line-height:30px;"><strong>账单明细</strong></span> 				 
			<span class="pull-right" style="line-height:30px;">当前选择金额小计：<span id="selectmoney" class="text-success">0.00</span>&nbsp;元&nbsp;&nbsp;<a  href="javascript:;" onclick="mypay()" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="bottom" title="打印"><i class="fa fa-print"></i> 打印</a>  金额合计：<strong class="text-danger" id="totalfee">{$totalpayfee}</strong> 元   共有数据：<strong id="count">{$total}</strong> 条</span> 
	    </div>
  
		<div class="panel-body table-responsive" style="width:100%;height:600px;overflow-y:scroll;" id="billbody">
			<table class="table table-bordered table-hover" id="mydatatable">
				<thead class="navbar-inner">
				<tr>
					<th width="25"><input type="checkbox" name="selectall" id="selectall" value="" onClick="myallselect(this)"></th>
					<th width="40">序号</th>
					<th width="80">收费项目</th>			
					<th width="150">所属主体</th>
					<th width="100">楼宇或区域</th>
					<th width="60">单元</th>
					<th width="60">房产</th>
					<th width="200">账单日期</th>
					<th width="60">状态</th>
					<th width="60">费用</th>
					<th width="80">违约金</th>
					<th width="80">抵扣</th>
					<th width="60">实付</th>
					<th width="60">印次</th>
					<th width="60">备注</th>
				</tr>
			</thead>
			{loop $data $k $v}
				<tr><td>&nbsp;&nbsp;<input type="checkbox" value="{$v['id']}" name="myselect" id="myselect_{$k}"  ></td>
					<td>{php echo $k+1;}</td>					
					<td>{$v['title']}{if $v['feetype']==3}公摊{/if}</td>
					<td>{$v['region']}</td>
					<td>{$v['building']}</td>
					<td>{php echo empty($v['unit'])?'无':$v['unit'];}</td>
					<td>{$v['address']}</td>
					<td>{$v['daterange']}</td>
					<td class="td-status">
					{if $v['status']=='1'}<span class="label label-danger radius">未支付</span>{else}<span class="label label-success radius">已支付</span>{/if}
					</td>
					<td>{$v['fee']}</td>	
					<td>{$v['latefee']}</td>
					<td>{$v['creditfee']}</td>
					<td id="fee_{$k}">{$v['payfee']}</td>					
					<td>{$v['printtimes']}</td>
					<td>{$v['remark']}</td>					
				</tr>
			{/loop}				
		</table>
	  </div>  
	</div>	
  </div>

{template 'web/_iframe_footer'}

<script type="text/javascript">
	$(function(){		
		$("#mydatatable").dataTable({
			language:{
				"sProcessing": "处理中...",
				"sLengthMenu": "显示 _MENU_ 项结果",
				"sZeroRecords": "没有匹配结果",
				"sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
				"sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
				"sInfoFiltered": "(由 _MAX_ 项结果过滤)",
				"sInfoPostFix": "",
				"sSearch": "搜索:",
				"sUrl": "",
				"sEmptyTable": "表中数据为空",
				"sLoadingRecords": "载入中...",
				"sInfoThousands": ",",
				"oPaginate": {
					"sFirst": "首页",
					"sPrevious": "上页",
					"sNext": "下页",
					"sLast": "末页"
				},
				"oAria": {
					"sSortAscending": ": 以升序排列此列",
					"sSortDescending": ": 以降序排列此列"
				}
			},
			renderer: "bootstrap",
			pagingType: "simple_numbers", 
			paging: false, // 禁止分页
			ordering: false // 禁止排序
		});
		
		$("[name='myselect']").click(function() {
			var obj = document.getElementsByName('myselect'); //选择所有name="myselect" id="myselect_{$k}" 的对象，返回数组 		
			var money = 0.00;		
			for(var k in obj){ 
				if (obj[k].checked) {              
					money = money + parseFloat($("#fee_"+k).html());
				}
			}
			$("#selectmoney").html(money);
		});
	});
	
	/*全选*/
function myallselect(select){ 

	var obj = document.getElementsByName('myselect'); 
	var tempsta = select.checked; 
	
	for(var k in obj){ 
		if (obj[k].checked != tempsta) {      
		     $("#myselect_"+k).prop("checked", tempsta);  
		}
	}	
	if(tempsta){
	   var money = $("#totalfee").html();
	   $("#selectmoney").html(money);	
	}
	else{
		$("#selectmoney").html('0.00');
	}
}
function mypay(){

	var obj = document.getElementsByName('myselect'); //选择所有name="myselect" id="myselect_{$k}" 的对象，返回数组 
	var i = 0;
	for(var j in obj){ 
		if (obj[j].checked) {
			i++;
		}
	}
	
	if (i==0){
		layer.msg('请选择要打印的对象.',{icon:0});
	   return ;
	}
	
	
	var billids = '';
	
	for(var k in obj){ 
		if (obj[k].checked) {              
			billids = billids + obj[k].value + ',';
		}
	}
	
	billids = billids.substring(0,billids.length - 1);
	
	var url = "{php echo $this->createWeburl($mydo,array('op'=>'printbill','status'=>2)).$mywe['direct'];}" + '&billids=' + billids;
	var index = parent.layer.open({
   	    type: 2,
		title:'<i class="fa fa-hand-o-right"></i> 对账单 > 收费凭证打印',
		content: url,
		area: ['600px','600px'],
		fix: false, 
		shade:0.4,
		maxmin: true
	});
	parent.layer.full(index);
}	

function myreturn(){
	 var url = "{php echo $this->createWeburl('feecalb',array('op'=>'paybill')).$mywe['direct'];}";
	 location.href = url;
}
$("#billbody").height($(window).height()- 150);
</script>
</body>
</html>