{template 'web/_iframe_header'}
{template 'web/_navtitle'}
<style>
	.nav-tabs li a { padding: 3px 10px;}
	.account-stat-num > div{width:25%; float:left; font-size:16px; text-align:center;}
	.account-stat-num > div span{display:block; font-size:30px; font-weight:bold;}
</style>
<div class="panel panel-default" style="padding-top:50px;">
  <div class="panel-body">  
	<ul class="nav nav-tabs" role="tablist" id="mytabs">
		<li role="presentation" {if $paystatus==9}class="active"{/if}><a href="#" onclick="mybill(9)" role="tab" data-toggle="tab">异常账单(重复)</a></li>		
		<li role="presentation" {if $paystatus==1}class="active"{/if}><a href="#" onclick="mybill(1)" role="tab" data-toggle="tab">未缴账单(累计)</a></li>		
	    <li role="presentation" {if $paystatus==4}class="active"{/if}><a href="#" onclick="mybill(4)" role="tab" data-toggle="tab">未缴账单(收费项目)</a></li>	
		<li role="presentation" {if $paystatus==2}class="active"{/if}><a href="#" onclick="mybill(2)" role="tab" data-toggle="tab">已缴账单(收款方式)</a></li>		
		<li role="presentation" {if $paystatus==3}class="active"{/if}><a href="#" onclick="mybill(3)" role="tab" data-toggle="tab">已缴账单(收费项目)</a></li>		   
	</ul>
	<br>
	<div class="panel panel-default">
	    <div class="panel-heading" style="height:60px;">
			<form action="./index.php" method="get" class="form-inline" role="form" id="form-search">
				<input type="hidden" name="c" value="site" />
				<input type="hidden" name="a" value="entry" />
				<input type="hidden" name="m" value="rhinfo_zyxq" />
				<input type="hidden" name="do" value="feecalc" />
				<input type="hidden" name="op" value="feebill" />	
				<input type="hidden" name="direct" value="1" />
				<input type="hidden" name="paystatus" value="{$paystatus}" />
				<div class="form-group">
					<select class="form-control" id="rid" name="rid" style="width:160px;">						
					    {if empty($regions)}<option value="">选择主体</option>{/if}
						{loop $regions $regionv}
							<option value="{$regionv['id']}" {if $regionv['id'] == $_GPC['rid']} selected {/if} >{$regionv['title']}</option>
						{/loop}
					</select>
				</div>
				<div class="form-group" >
					<select class="form-control" id="feebilltype" name="feebilltype" onchange="renderCategory(this,'building','bid')" style="width:110px;">
						<option value="" {if empty($_GPC['feebilltype'])}selected{/if}>选择类别</option>	
						<option value="1" {if $_GPC['feebilltype']==1}selected{/if}>房屋</option>
						<option value="2" {if $_GPC['feebilltype']==2}selected{/if}>商铺</option>
						<option value="3" {if $_GPC['feebilltype']==3}selected{/if}>储物间</option>
						<option value="4" {if $_GPC['feebilltype']==4}selected{/if}>车位</option>				
					</select>
				</div>
				<div class="form-group" >
					<select class="form-control" id="bid" name="bid" onchange="renderCategory(this,'unit','tid')" style="width:160px;">
						<option value="" {if empty($_GPC['bid'])}selected{/if}>请选择</option>	
						{loop $select_building $bv}
							<option value="{$bv['id']}" {if $bv['id'] == $_GPC['bid']} selected {/if} >{$bv['title']}</option>
						{/loop}			
					</select>
				</div>
				<div class="form-group" {if $_GPC['feebilltype']==1}{else}style="display:none;"{/if} id="unit" >
					<select class="form-control" id="tid" name="tid" style="width:150px;">
						<option value="" {if empty($_GPC['tid'])}selected{/if}>选择单元</option>	
						{loop $select_unit $uv}
							<option value="{$uv['id']}" {if $uv['id'] == $_GPC['tid']} selected {/if} >{$uv['title']}</option>
						{/loop}								
					</select>
				</div>
				<div class="form-group">
					<input class="form-control" name="keyword" type="text" value="{$_GPC['keyword']}" placeholder="输入房产或收费项目" style="width:160px;"/>
				</div>
				<div class="form-group">
					<input type="text" name="startdate"  value="{$_GPC['startdate']}" placeholder="开始日期" class="datetimepicker form-control" style="width:110px;" />
					<input type="text" name="enddate"  value="{$_GPC['enddate']}" placeholder="结束日期" class="datetimepicker form-control" style="width:110px;" />
					<script type="text/javascript">
						require(["datetimepicker"], function(){
								var option = {
									lang : "zh",
									step : 5,
									timepicker : false,
									closeOnDateSelect : true,
									format : "Y-m-d"
								};
							$(".datetimepicker[name = 'startdate']").datetimepicker(option);
							$(".datetimepicker[name = 'enddate']").datetimepicker(option);
						});
					</script>
				</div>				
				<div class="form-group">
					<a class="btn btn-default" href="javascript:;" onclick="mysearch({$paystatus})"><i class="fa fa-search"></i> 搜索</a>	
					{if $rights['export'] == 1}
						<button name="export" value="export" class="btn btn-default"><i class="fa fa-download"></i> 导出</button>
					{/if}
				</div>
				    {if $paystatus !=9}
					<span class="pull-right" style="line-height:38px;">总金额：<strong class="text-danger">{php echo $totalfee?$totalfee:0}</strong></span> 
				    {/if}
			</form>
	    </div>
		
		<div class="tab-content">
			 <div role="tabpanel" class="tab-pane {if $paystatus==9}active{/if}">			 
				<div class="panel-body table-responsive">
					<table class="table table-hover">
						<thead class="navbar-inner">
						<tr>					
							<th width="120">所属主体</th>
							<th width="120">楼宇或区域</th>
							<th width="60">单元</th>
							<th width="60">房产</th>
							<th width="80">费用</th>
							<th width="100">账单周期</th>
							<th width="80">操作</th>
						</tr>
						</thead>
					{loop $data $k $v}
						<tr>
							<td>{$v['region']}</td>
							<td>{$v['building']}</td>
							<td>{php echo empty($v['unit'])?'无':$v['unit'];}</td>
							<td>{$v['address']}</td>
							<td><span class="text-danger">{$v['fee']}</span></td>
							<td>{$v['daterange']}</td>
							<td class="td-manage">
							{if $rights['edit'] == 1}	
							<a  href="javascript:;" onclick="mypaybill({$v['rid']},{$v['hid']},{$v['category']},0,'{$v['address']}')" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="账单明细"><i class="fa fa-file-pdf-o"></i> 查看账单</a>
							{/if}
							</td>					
						</tr>
					{/loop}				
				</table>
			  </div> 
			</div>
			 <div role="tabpanel" class="tab-pane {if $paystatus==1}active{/if}">			 
				<div class="panel-body table-responsive">
					<table class="table table-hover">
						<thead class="navbar-inner">
						<tr>					
							<th width="120">所属主体</th>
							<th width="120">楼宇或区域</th>
							<th width="60">单元</th>
							<th width="60">房产</th>
							<th width="80">费用</th>
							<th width="80">操作</th>
						</tr>
						</thead>
					{loop $data $k $v}
						<tr>
							<td>{$v['region']}</td>
							<td>{$v['building']}</td>
							<td>{php echo empty($v['unit'])?'无':$v['unit'];}</td>
							<td>{$v['address']}</td>
							<td><span class="text-danger">{$v['fee']}</span></td>
							<td class="td-manage">
							{if $rights['add'] == 1}	
								<a href="javascript:;" onclick="myfeebill({$v['rid']},{$v['hid']},{$v['category']})"  class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="综合收款" ><i class="fa fa-money"></i> 收款</a> 
							{/if}
							</td>					
						</tr>
					{/loop}				
				</table>
			  </div> 
			</div>
			 <div role="tabpanel" class="tab-pane {if $paystatus==2}active{/if}">
				<div class="panel-body table-responsive">
					<table class="table table-hover">
						<thead class="navbar-inner">
						<tr>						
							<th>所属主体</th>
							<th>楼宇或区域</th>
							<th>房屋或商铺</th>		
							<th>应付费用</th>
							{loop $this->paytype $pv}
							<th>{$pv}</th>
							{/loop}
							<th>实收小计</th>
							<th>操作</th>
						</tr>
					</thead>
					{loop $data $k $v}
						<tr>
							<td>{$v['region']}</td>
							<td>{$v['building']}</td>
							<td>{$v['address']}</td>			
							<td><span class="label label-info">{$v['fee']}</span></td>			
							{loop $this->paytype $key $pv}
							<td><span class="text-danger">{php echo $v['paytype_fee_'.$key];}</span></td>
							{/loop}
							<td><span class="label label-success">{$v['payfee']}</span></td>
							<td>
							{if $rights['edit'] == 1}	
							<a  href="javascript:;" onclick="mypaybill({$v['rid']},{$v['hid']},{$v['category']},2,'{$v['address']}')" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="账单明细"><i class="fa fa-file-pdf-o"></i> 查看账单</a>
							{/if}
							</td>
						</tr>
					{/loop}				
				</table>
				</div> 
			 </div>
			 <div role="tabpanel" class="tab-pane {if $paystatus==3}active{/if}">
				<div class="panel-body table-responsive">
					<table class="table table-hover">
						<thead class="navbar-inner">
						<tr>						
							<th>所属主体</th>
							<th>楼宇或区域</th>
							<th>房屋或商铺</th>		
							<th>应付费用</th>
							{loop $feeitems $fv}
							<th>{$fv['title']}</th>
							{/loop}
							<th>实收小计</th>
							<th>操作</th>
						</tr>
					</thead>
					{loop $data $k $v}
						<tr>
							<td>{$v['region']}</td>
							<td>{$v['building']}</td>
							<td>{$v['address']}</td>			
							<td><span class="label label-info">{$v['fee']}</span></td>			
							{loop $feeitems $key $fv}
							<td><span class="text-danger">{php echo $v['feeitem_fee_'.$key];}</span></td>
							{/loop}
							<td><span class="label label-success">{$v['payfee']}</span></td>
							<td>
							{if $rights['edit'] == 1}	
							<a  href="javascript:;" onclick="mypaybill({$v['rid']},{$v['hid']},{$v['category']},2,'{$v['address']}')" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="账单明细"><i class="fa fa-file-pdf-o"></i> 查看账单</a>
							{/if}
							</td>
						</tr>
					{/loop}				
				</table>
				</div> 
			 </div>
			 <div role="tabpanel" class="tab-pane {if $paystatus==4}active{/if}">
				<div class="panel-body table-responsive">
					<table class="table table-hover">
						<thead class="navbar-inner">
						<tr>						
							<th>所属主体</th>
							<th>楼宇或区域</th>
							<th>房屋或商铺</th>									
							{loop $feeitems $fv}
							<th>{$fv['title']}</th>
							{/loop}
							<th>欠费小计</th>
							<th>操作</th>
						</tr>
					</thead>
					{loop $data $k $v}
						<tr>
							<td>{$v['region']}</td>
							<td>{$v['building']}</td>
							<td>{$v['address']}</td>					
							{loop $feeitems $key $fv}
							<td><span class="text-danger">{php echo $v['feeitem_fee_'.$key];}</span></td>
							{/loop}
							<td><span class="label label-danger">{$v['fee']}</span></td>
							<td>
							{if $rights['add'] == 1}	
							<a href="javascript:;" onclick="myfeebill({$v['rid']},{$v['hid']},{$v['category']})"  class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="综合收款" ><i class="fa fa-money"></i> 收款</a> 
							{/if}
							</td>
						</tr>
					{/loop}				
				</table>
				</div> 
			 </div>
	</div>	
  </div>
  </div>
 </div>

{template 'web/_iframe_footer'}
{template 'web/_bottom1'}

<script type="text/javascript">
	window._building = {php echo json_encode($mybuilding);};
	window._unit = {php echo json_encode($myunit);};
	window._shoplocation = {php echo json_encode($myshoplocation);};
	window._parklocation = {php echo json_encode($myparklocation);};
	window._bbuilding = {php echo json_encode($mybbuilding);};
	function renderCategory(obj,name,id){
		var html = '';	
		if(name=='building'){
			var sindex = obj.options[obj.selectedIndex].value;
			var html = '';
			if(sindex==1){
				name = 'building';
				html = '<option value="0">选择楼宇</option>';
				$("#unit").show();
			}
			else if(sindex==2){
				name = 'shoplocation';
				html = '<option value="0">选择区域</option>';
				$("#unit").hide();
			}
			else if(sindex==3){
				name = 'bbuilding';
				html = '<option value="0">选择楼宇</option>';
				$("#unit").hide();
			}
			else if(sindex==4){
				name = 'parklocation';
				html = '<option value="0">选择区域</option>';
				$("#unit").hide();
			}
			else{
				html = '<option value="0">请选择</option>';
				$("#unit").hide();
			}
			var index = $("#rid").find("option:selected").val(); 						
			$selectChild = $("#"+ id);
			$("#bid").html(html);
			
			if (!window['_'+name] || !window['_'+name][index]) {
				$selectChild.html(html);
				return false;
			}
			for(var i=0; i< window['_'+name][index].length; i++){
				html += '<option value="'+window['_'+name][index][i]['id']+'">'+window['_'+name][index][i]['title']+'</option>';
			}
			$selectChild.html(html);
		}
		else if(name=='unit'){
			var index = $("#bid").find("option:selected").val(); 				
			$selectChild = $("#"+ id);
			html = '<option value="0">选择单元</option>';
			$("#tid").html(html);			
			if (!window['_'+name] || !window['_'+name][index]) {
				$selectChild.html(html);
				return false;
			}
			for(var i=0; i< window['_'+name][index].length; i++){
				html += '<option value="'+window['_'+name][index][i]['id']+'">'+window['_'+name][index][i]['title']+'</option>';
			}
			$selectChild.html(html);
		}
	}

function mysearch(paystatus){
	if(paystatus==9){
		layer.confirm('如果账单较多，检查过程会很慢，请输入查询条件，确定要检查账单重复记录吗？',{icon: 3, title:'提示',resize:false},
		function(index){
			layer.load(2);
			$("#form-search").submit();
			layer.close(index);
		});
	}
	else{
		layer.load(2);
		$("#form-search").submit();
	}
}
function mybill(paystatus){
	var url= "{php echo $this->createWeburl($mydo,array('op'=>'feebill')).$mywe['direct']}"+'&paystatus=' + paystatus;
	window.location.href = url;
}
function myfeebill(rid,hid,category){
	var url = "{php echo $this->createWeburl('fee',array('op'=>'mybill')).$mywe['direct'];}" + "&rid=" + rid + "&hid=" + hid + "&category=" + category;
	var index = layer.open({
		type: 2,
		title:'<i class="fa fa-hand-o-right"></i> 收银台 > 综合收款',
		content: url,
		area: ['600px','600px'],
		fix: false, 
		shade:0.4,
		maxmin: false,
		end: function () {
			location.reload();
		}
	});
	layer.full(index);
}
function mypaybill(rid,hid,category,status,address){
	var url= "{php echo $this->createWeburl('report',array('op'=>'mybill')).$mywe['direct']}"+'&rid=' + rid +'&hid=' + hid + '&category=' + category + '&status=' + status;
	var title = '<i class="fa fa-hand-o-right"></i> {$navtitle}&nbsp;&gt;&nbsp;{$current}-'+address;	
	var index = layer.open({
		type: 2,
		title: title,
		content: url,
		area: ['600px','480px'],
		fix: false, 
		shade:0.4
	});
	layer.full(index);
}
</script>
</body>
</html>