{template 'web/_layer_header'}
{template 'web/_navtitle1'}

<div class="panel panel-default" style="padding-top:50px;">
    <div class="panel-body">    
		<form action="" class="form-horizontal form" method="post" role="form" enctype="multipart/form-data" id="myform" >
		<input type="hidden" name="token" value="{$_W['token']}" />	
		<input type="hidden" name="id" id="id" value="{$item['id']}" />	
		<input type="hidden" name="status" id="status" value="{$item['status']}" />	
		<input type="hidden" name="category" id="category" value="{$_GPC['category']}" />	
		{if $_W['uid']} 
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 control-label"> <span class="text-danger">*</span>所属物业</label>
			<div class="col-sm-8 col-lg-9 col-xs-12">
				<select class="form-control"  name="pid" id="pid" onchange="renderCategory(this,'region','rid')" disabled>
					<option value="0">请选择所属物业</option>
					{loop $myproperty $k $v}
						<option value="{$v['id']}" {if $item['pid'] == $v['id']} selected {/if} >{$v['title']}</option>
					{/loop}
				</select>				
			</div>
		</div>
		{else}
			<input type="hidden" class="form-control" id="pid" value="{$mywe['pid']}" name="pid" />
		{/if}
		
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>所属主体</label>
			<div class="col-sm-8 col-lg-9 col-xs-12">
				<select class="form-control" id="rid" name="rid" onchange="renderCategory(this,'building','bid')" disabled>
					<option value="0">请选择所属主体</option>	
					{loop $eregions $i $r}
						<option value="{$r['id']}" {if $item['rid'] == $r['id']} selected {/if} >{$r['title']}</option>
					{/loop}
					{if $_W['uid']} 
					{else}
						{if $operation=='itemadd'}
							{loop $regions $i $r}
								<option value="{$r['id']}" {if $item['rid'] == $r['id']} selected {/if} >{$r['title']}</option>
							{/loop}
						{/if}
					{/if}
				</select>
			</div>
		</div>		
		
		<div class="form-group" id="building" >
			<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>{if $_GPC['category']==1 || $_GPC['category']==3 }楼宇{else}区域{/if}</label>
			<div class="col-sm-8 col-lg-9 col-xs-12">
				<select class="form-control" id="bid" name="bid" disabled>
					<option value="0">请选择{if $_GPC['category']==1 || $_GPC['category']==3}楼宇{else}区域{/if}</option>	
					{loop $ebuildings $j $d}
						<option value="{$d['id']}" {if $item['bid'] == $d['id']} selected {/if} >{$d['title']}</option>
					{/loop}			
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>房产编号</label>
			<div class="col-sm-8 col-lg-9 col-xs-12">
				<input type="text" class="form-control" id="address" value="{$item['address']}" readonly placeholder="输入房产编号" name="address" />
			</div>	
		</div>

		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>项目名称</label>
			<div class="col-sm-8 col-lg-9 col-xs-12">
				<input type="text" class="form-control" id="title" value="{$item['title']}" readonly placeholder="输入项目名称" name="title" />
			</div>	
		</div>

		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 control-label">计量单位</label>
			<div class="col-sm-8 col-lg-9 col-xs-12">
				<input type="text" class="form-control" id="measure" value="{$item['measure']}" placeholder="输入计量单位，如：月/平方" name="measure" />
			</div>	
		</div>	
		
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>费用</label>
			<div class="col-sm-8 col-lg-9 col-xs-12">
				<div class="input-group">
					<input type="text" class="form-control" id="fee" value="{$item['fee']}" placeholder="输入单价" name="fee" />
					 <span class="input-group-addon">元</span>
				 </div>
			</div>	
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 control-label">交费周期</label>
			<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" class="form-control" disabled value="{$item['daterange']}"  />		
			</div>			
		</div>
		{if $item['paytype']}
		<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>支付方式</label>
				<div class="col-sm-8 col-lg-9 col-xs-12">
					<select class="form-control" id="paytype" name="paytype">						
						<option value="9" {if $item['paytype']==9}selected{/if}>现金</option>
						<option value="1" {if $item['paytype']==1}selected{/if}>微信支付</option>
						<option value="2" {if $item['paytype']==2}selected{/if}>支付宝</option>
						<option value="3" {if $item['paytype']==3}selected{/if}>银联刷卡</option>						
						<option value="4" {if $item['paytype']==4}selected{/if}>生活缴费</option>
						<option value="5" {if $item['paytype']==5}selected{/if}>银行托收</option>
						<option value="6" {if $item['paytype']==6}selected{/if}>减免</option>
						<option value="8" {if $item['paytype']==8}selected{/if}>冲预收</option>
						<option value="7" {if $item['paytype']==7}selected{/if}>其他</option>						
					</select>
				</div>	
			</div>	
		{/if}
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 control-label">备注</label>
			<div class="col-sm-8 col-lg-9 col-xs-12">
				<input type="text" class="form-control" id="remark" value="{$item['remark']}" placeholder="输入备注" name="remark" />
			</div>	
		</div>	
		
	</form>	

	<script type="text/javascript">
		window._region = {php echo json_encode($myregion);};				
		window._building = {php echo json_encode($mybuilding);};	
		function renderCategory(obj, name,id){
			var index = obj.options[obj.selectedIndex].value;
			require(['jquery', 'util'], function($, u){
				$selectChild = $("#"+ id);
				var html = '<option value="0">请选择</option>';
				if (id=='rid'){
					$("#bid").html(html);
				}
				if (!window['_'+name] || !window['_'+name][index]) {
					$selectChild.html(html);
					return false;
				}
				for(var i=0; i< window['_'+name][index].length; i++){
					html += '<option value="'+window['_'+name][index][i]['id']+'">'+window['_'+name][index][i]['title']+'</option>';
				}
				$selectChild.html(html);
			});
		}
	</script>	
    </div>
</div>

{template 'web/_layer_footer'}
{template 'web/_bottom'}

<script type="text/javascript">

function mysubmit(obj){
	
	var status = $.trim($("#status").val());
	if(status==2){
		layer.msg("已经缴费了，不能修改，请返回！",{icon:0});
		return;
	}

	myprocess(obj);
	$("#myform").submit();
}

function myreturn(){
	  window.history.back();
}

</script> 

</body>
</html>