<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">日常收费统计</h3>
		<span class="count">总金额：<strong>{$total}</strong> 元</span>
	</div>
	<div class="panel-body">
		<div class="chart" id="chartSelf"></div>
	</div>
</div>
<script type="text/javascript">
	var chartSelf = echarts.init(document.getElementById('chartSelf'));
	option_self = {

		tooltip : {
			trigger: 'axis'
		},
		legend: {
			data:['智能充电','自助设备','停车缴费'],
			textStyle:{
				color:'#fff',
			}
		},
		toolbox: {
			show : true,
			feature : {
				magicType : {show: true, type: ['line', 'bar']},
				restore : {show: true},
				saveAsImage : {show: true}
			},
			
		},
		calculable : true,
		dataZoom : {
			show : true,
			realtime : true,
			start : 20,
			end : 80
		},
		xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : function (){
					var list = [];
					for (var i = 29; i >=0; i--) {
						list.push(getDay(-i));
					}
					return list;
				}(),
				axisLabel: {
                    textStyle: {
                        color: '#fff',//坐标值得具体的颜色
                    }
                }
			}
		],
		yAxis : [
			{
				type : 'value',
				axisLabel: {
                    textStyle: {
                        color: '#fff',//坐标值得具体的颜色
                    }
                }
			}
		],
		series : [
			{
				name:'智能充电',
				type:'line',
				smooth:true,  //曲线
				data:[{$selfdata[0]}]
			},
			{
				name:'自助设备',
				type:'line',
				smooth:true,  //曲线
				data:[{$selfdata[1]}]
			},
			{
				name:'停车缴费',
				type:'line',
				smooth:true,  //曲线
				data:[{$selfdata[2]}]
			}
		]
	};
	chartSelf.setOption(option_self);
	window.onresize = function() {
		chartSelf.resize();
	};
</script>