{template 'web/_layer_header'}
{template 'web/_navtitle1'}

<div class="panel panel-default" style="padding-top:30px;">
    <div class="panel-body">    
		{template 'web/'.$mydo.'/form'}	
    </div>
</div>

{template 'web/_layer_footer'}
{template 'web/_bottom'}

<script type="text/javascript">
var isweuser = "{php echo !empty($_W['uid'])?1:0;}";
function mysubmit(obj){
	var url = "{php echo $this->createWeburl('role',array('op'=>'list')).$mywe['direct'];}";
	var title = $.trim($("#title").val());
	var status = $("input[name=status]:checked").val(); 
	var id = $("#id").val(); 	
	var remark = $("#remark").val(); 
	var perms = [],menus = [],prgs = []; 
	
    if (title=='') {
	   layer.msg("角色名称不能为空！",{icon:0});
	   return;
	}
	if(isweuser==1){
		var pid = $("#pid").val(); 
	}
	else{
		var pid = $("#pid").find("option:selected").val(); 
		if (pid=='') {
		   layer.msg("所属物业不能为空！",{icon:0});
		   return;
		}
	}	
	$('input[name="menus"]:checked').each(function(){ 
		menus.push($(this).val()); 
	});
	$('input[name="prgs"]:checked').each(function(){ 
		prgs.push($(this).val()); 
	});
	$('input[name="perms"]:checked').each(function(){ 
		perms.push($(this).val()); 
	});

	myprocess(obj);

	$.post("{php echo $this->createWebUrl('role').$mywe['direct'];}",
	{ op:"{$_GPC['op']}",id:id,pid:pid,title:title,status:status,remark:remark,menus:menus,prgs:prgs,perms:perms},
	function(data,status){
		 if (data=='ok'){
			layer.msg('保存成功！',{icon:1});
			setTimeout(function(){
				location.href = url;
			},1000);
		 }
		 else{
			layer.msg(data,{icon:0});
			$(obj).html("提交");  
			$(obj).attr("disabled", ""); 
		 }
	});
}

function myreturn(){
	 window.history.back();
}
</script> 

</body>
</html>