<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="./resource/css/bootstrap.min.css" rel="stylesheet">
	<link href="./resource/css/font-awesome.min.css" rel="stylesheet">
	<link href="./resource/css/common.css?v=20170229" rel="stylesheet">
	<script type="text/javascript" src="./resource/js/lib/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../addons/rhinfo_zyxq/static/lib/layer3.03/layer.js"></script>
	<style>
	html { overflow-x:hidden; }
	</style>
</head>
<body>

<div class="panel panel-default" style="width:580px;">
    <div class="panel-body">    
		<form action="" method="post" role="form" enctype="multipart/form-data" id="myform" >
			<input type="hidden" name="token" value="{$_W['token']}" />	
			<input type="hidden" name="id" id="id" value="{$mywe['uid']}" />			
			<div class="form-group">
				<label class="control-label"><span class="text-danger">*</span>用户旧密码</label>
					<input type="text" onfocus="this.type='password'" autocomplete="off"  class="form-control" id="mypass" name="mypass" value="" />
					<span class="help-block">请正确输入旧密码。</span>
			</div>
			<div class="form-group">
				<label class="control-label"><span class="text-danger">*</span>用户新密码</label>
					<input type="text" onfocus="this.type='password'" autocomplete="off"  class="form-control" id="mypass1" name="mypass1" value="" />
					<span class="help-block">请输入新密码，最小长度为 8 个字符。</span>		
			</div>
			<div class="form-group">
				<label class="control-label"><span class="text-danger">*</span>确认新密码</label>
					<input type="text" onfocus="this.type='password'" autocomplete="off" class="form-control" id="mypass2" name="mypass2" value="" />
					<span class="help-block">再次输入新密码，确认正确输入。</span>		
			</div>
			
			<div class="form-group">
				<label class="control-label"></label>
					<a href="javascript:;" class="btn btn-primary"  onclick="mysubmit(this)"><i class="fa fa-check"></i> 提交 </a>			
			</div>
			
		</form>	
    </div>
</div>

<script type="text/javascript">		
	$(function(){	
		$("a").on("click",function(){
			$.get("{php echo $this->createWebUrl('check_login',array('direct'=>$mywe['direct']));}",function(data,status){
			 if (data=='1'){
				if (direct!=''){
					location.reload();
				}
			 }
			 else if (data=='2'){
				if (direct==''){
					location.reload();
				}
			 }
			 else{			
				window.location.href="{php echo mywurl('auth/login',array('direct'=>1));}";
			 }		 
			});
		});	 
		$(".btn").on("click",function(){
			$.get("{php echo $this->createWebUrl('check_login',array('direct'=>$mywe['direct']));}",function(data,status){
			 if (data=='1'){
				if (direct!=''){
					location.reload();
				}
			 }
			 else if (data=='2'){
				if (direct==''){
					location.reload();
				}
			 }
			 else{			
				window.location.href="{php echo mywurl('auth/login',array('direct'=>1));}";
			 }		 
			});
		});	 
	});

	function myprocess(obj){
		var html = '<img src="../addons/rhinfo_zyxq/static/ui/images/loading-s.gif"/> 处理中...';
		$(obj).html(html);  
		$(obj).attr("disabled", "disabled"); 
	}
	
	var uid = "{$mywe['uid']}";

	function mysubmit(obj){
	
		var password = $.trim($("#mypass").val());
		var password1 = $.trim($("#mypass1").val());
		var password2 = $.trim($("#mypass2").val());
		
		if (password == '') {
		   layer.msg("旧密码输入不正确！",{icon:0});
		   return;
		}
		
		if (password1 == '') {
		   layer.msg("新密码没有输入！",{icon:0});
		   return;
		}		
		
		if (password1 != password2) {
		   layer.msg("两次输入密码不一致！",{icon:0});
		   return;
		}
		
		if (password.length > 0 && password.length < 8 ){
			 layer.msg("密码至少8个字符！",{icon:0});
			return;
		}
		
		$.post("{php echo $this->createWebUrl($mydo);}",
		{ op:"password",oldpwd:password,newpwd:password1,id:uid},
		function(data,status){
		 if (data=='ok'){		
			var url = "{php echo mywurl('auth/login',array('direct'=>1));}";
			parent.location.href = url;
		 }
		 else{
			layer.msg(data,{icon:0});
			return ;
		 }
		});	
	}	
	
</script>

</body>
</html>