<div class="form-horizontal form" >
	<input type="hidden" value="{$item['id']}" id="id" name="id">	
	<input type="hidden" value="{$item['uid']}" id="uid" name="uid">	
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>用户代号</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" class="form-control" id="userno" value="{$item['userno']}" {if !empty($item['userno'])}disabled{/if} placeholder="输入用户代号" name="userno">
			<span class="help-block">{if $_W['uid']}此用户代号为平台登录入口，即平台用户，不可重复，可以直接输入已存在的平台用户{else}此用户代号为物业登录入口，所属物业子用户，不可重复，建议使用物业代号+主体代号+用户代号{/if}</span>
		</div>	
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>用户名称</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" class="form-control" id="myuser" value="{$item['username']}" placeholder="输入用户名称" name="myuser">
			<span class="help-block">{if $_W['uid']}注意用户名称区分，用户名称不允许重复{else}注意用户名称区分，用户名称不允许重复，建议使用物业简称+主体简称+用户简称{/if}</span>
		</div>	
	</div>
	
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>用户密码</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" onfocus="this.type='password'" autocomplete="off"  class="form-control" id="mypass1" name="mypass1" value="" >
			<span class="help-block">请填写密码，最小长度为 8 个字符。如果不更改密码此处请留空</span>
		</div>				
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>确认密码</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" onfocus="this.type='password'" autocomplete="off" class="form-control" id="mypass2" name="mypass2" value="" >
			<span class="help-block">重复输入密码，确认正确输入。如果不更改密码此处请留空</span>
		</div>				
	</div>
	{if $_W['isfounder']}
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">所属用户组</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<select class="form-control"  name="usergroup" id="usergroup">
				<option value="0">请选择所属用户组</option>
				{loop $usergroup $k $v}
					<option value="{$v['id']}" {if $item['usergroup'] == $v['id']} selected {/if} >{$v['name']}</option>
				{/loop}
			</select>	
			<span class="help-block">此用户组为平台用户组的权限，请慎重设置.</span>
		</div>
	</div>
	{else}
	<input type="hidden" class="form-control" name="usergroup" id="usergroup" value="{$item['usergroup']}">
	{/if}
	{if $_W['uid']}	
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>所属角色</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<select class="form-control"  name="gid" id="gid">
				{if $_W['isfounder']}
				<option value="0">超级管理员</option>
				{else}
				<option value="">请选择角色</option>						
				{/if}
				{loop $group $k $v}
					<option value="{$v['id']}" {if $item['gid'] == $v['id']} selected {/if} >{$v['title']}</option>
				{/loop}
			</select>				
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">所属物业</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<select class="form-control"  name="pid" id="pid" onchange="renderCategory(this,'region','rid')">
				<option value="0">请选择所属物业</option>
				{loop $myproperty $k $v}
					<option value="{$v['id']}" {if $item['pid'] == $v['id']} selected {/if} >{$v['title']}</option>
				{/loop}
			</select>				
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">所属主体</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<select class="form-control tpl-category-child" id="rid" name="rid">
				{if empty($secuser['rid']) || $operation=='add'}
				<option value="0">请选择所属主体</option>
				{/if}
				{loop $region $i $r}
					<option value="{$r['id']}" {if $item['rid'] == $r['id']} selected {/if} >{$r['title']}</option>
				{/loop}
			</select>
		</div>
	</div>
	{else}
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>所属角色</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<select class="form-control"  name="gid" id="gid" onchange="renderCategory(this,'region')">
				{if $_W['isfounder']}
				<option value="0">超级管理员</option>
				{else}
				<option value="">请选择角色</option>						
				{/if}
				{loop $group $k $v}
					<option value="{$v['id']}" {if $item['gid'] == $v['id']} selected {/if} >{$v['title']}</option>
				{/loop}
			</select>				
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">所属主体</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<select class="form-control tpl-category-child" id="rid" name="rid">
				{if empty($secuser['rid']) || $operation=='add'}
				<option value="0">请选择所属主体</option>
				{/if}
				{loop $region $i $r}
					<option value="{$r['id']}" {if $item['rid'] == $r['id']} selected {/if} >{$r['title']}</option>
				{/loop}
			</select>
		</div>
	</div>
	{/if}
	<script type="text/javascript">
		window._region = {php echo json_encode($myregion);};				
		function renderCategory(obj, name){
			var index = obj.options[obj.selectedIndex].value;
			require(['jquery', 'util'], function($, u){
				$selectChild = $('#rid');
				var html = '<option value="0">请选择主体</option>';
				if (!window['_'+name] || !window['_'+name][index]) {
					$selectChild.html(html);
					return false;
				}
				{if !empty($secuser['rid'])}html='';{/if}
				for(var i=0; i< window['_'+name][index].length; i++){
					html += '<option value="'+window['_'+name][index][i]['id']+'">'+window['_'+name][index][i]['title']+'</option>';
				}
				$selectChild.html(html);
			});
		}
	</script>
	
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>状态</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<label class='radio-inline'><input type="radio" name="status" value="1" {if $item['status'] == 1 || empty($item['status'])} checked="true" {/if} >启用</label>
			<label class='radio-inline'><input type="radio" name="status" value="2" {if $item['status'] == 2} checked="true" {/if} >禁用</label>										
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">姓名</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" class="form-control" name="name" id="name" value="{$item['name']}" placeholder="输入姓名">
		</div>
	</div>		     
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">手机号码</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="number" class="form-control" name="mobilephone" id="mobilephone" value="{$item['mobilephone']}" placeholder="输入手机号码">
		</div>
	</div>		     
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">备注</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" class="form-control" name="remark" id="remark" value="{$item['remark']}" placeholder="输入备注内容">
		</div>
	</div>		     
</div>