{template 'web/_layer_header'}
{template 'web/_navtitle1'}

<div class="panel panel-default" style="padding-top:30px;" >
    <div class="panel-body">    
		{template 'web/'.$mydo.'/form'}	
    </div>
</div>

{template 'web/_layer_footer'}
{template 'web/_bottom'}

<script type="text/javascript">
function mysubmit(obj){
	var id = $.trim($("#id").val());	
	var title = $.trim($("#title").val());
	var cateid = $("#cateid").find("option:selected").val();	
	var telphone = $.trim($("#telphone").val());
	var address = $.trim($("#address").val());
	var province = $(".tpl-province").find("option:selected").val();
	var city = $(".tpl-city").find("option:selected").val();
	var district = $(".tpl-district").find("option:selected").val();	

	if (cateid=='0') {
	   layer.msg("小分类不能为空！",{icon:0});
	   return;
	}
	if (title=='') {
	   layer.msg("单位名称不能为空！",{icon:0});
	   return;
	}
	if (telphone=='') {
	   layer.msg("联系电话不能为空！",{icon:0});
	   return;
	}	
	if (province=='') {
	   layer.msg("省不能为空！",{icon:0});
	   return;
	}
     if (city=='') {
	  layer.msg("市不能为空！",{icon:0});
	   return;
	}		
   if (address=='') {
	   layer.msg("详细地址不能为空！",{icon:0});
	   return;
	}
				
	myprocess(obj);
	$("#myform").submit();
	
}

function myreturn(){
	window.history.back();
}
</script> 

</body>
</html>