{template 'web/_layer_header'}
{template 'web/_navtitle1'}

<div class="panel panel-default" style="padding-top:50px;">
    <div class="panel-body">    
		<form action="" class="form-horizontal form" method="post" role="form" enctype="multipart/form-data" name="myform" id="myform" >
			<input type="hidden" name="token" value="{$_W['token']}" />
			<input type="hidden" name="pid" value="{$pid}" >
			<input type="hidden" name="rid" value="{$rid}" >
			<div class="form-group">				
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">EXCEL格式</label>
				<div class="col-sm-8 col-lg-9 col-xs-12">
					 <div class="alert alert-success" role="alert"> 
						导入模板格式：<br>楼宇/总单元/总楼层/总房屋/单元/楼层/房号/建筑面积/使用面积/附加面积/姓名/手机/备用手机/免单否/免单开始日期/免单结束日期/折扣/交费截止日期/备注
						<br>
						<a href="../addons/rhinfo_zyxq/upfile/room.xls" class="text-danger">下载EXCEL导入模板</a>
						<p class="text-warning">1、缴费截止日期为文本格式（如：2017-03-01）<br>2、楼宇和单元会自检测是否存在并自动生成，导入后可修改。</p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">EXCEL文件</label>
				<div class="col-sm-8 col-lg-9 col-xs-12">
					<input type="file" id="upfile" class="form-control" title="请选择EXCEL文件" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="upfile">
				</div>	
			</div>
		   <div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label"></label>
				<div class="col-sm-8 col-lg-9 col-xs-12">
					<img src="../addons/rhinfo_zyxq/static/web/images/room.jpg" class="img-responsive"/>
				</div>	
			</div>
		</form>	
    </div>
</div>

{template 'web/_layer_footer'}
{template 'web/_bottom'}

<script type="text/javascript">

var pid = "{$pid}";
var rid = "{$rid}";

function mysubmit(obj){
	var url = "{php echo $this->createWebUrl($mydo,array('op'=>'list','category'=>$category)).$mywe['direct'];}" + "&pid=" + pid + "&rid=" + rid;
	var filename = document.myform.upfile.value;	
    if (filename=='') {
	   layer.msg("没有选择任何文件！");
	   return;
	}
	
	var formData = new FormData();
	formData.append('upfile', $('#upfile')[0].files[0]);
	myprocess(obj);
	$.ajax({
		url: "{php echo $this->createWebUrl($mydo,array('op'=>'import','category'=>$category)).$mywe['direct'];}" + "&pid=" + pid + "&rid=" + rid,
		type: 'POST',
		cache: false,
		data: formData,
		processData: false,
		contentType: false,
		success:function(data){ 			
			 if (data=='ok'){		
				layer.msg('导入成功!',{icon:1});
				location.href = url;		
			 }
			 else{
				var html = '<i class="fa fa-check"></i> 提交';
				$(obj).html(html);  
				$(obj).attr("disabled", false); 
				layer.msg(data,{icon:0});
			 }
		} 
	});
}

function myreturn(){
	 var url = "{php echo $this->createWeburl($mydo,array('op'=>'list','category'=>$category)).$mywe['direct'];}" + "&pid=" + pid + "&rid=" + rid ;
	 location.href = url;
}
</script> 

</body>
</html>