{template 'web/_iframe_header'}
{template 'web/_navtitle'}

<div class="panel panel-default" style="padding-top:50px;">
  <div class="panel-body"> 
	<div class="panel panel-default">
	    <div class="panel-heading" style="height:60px;">
			<form action="./index.php" method="get" class="form-horizontal" role="form" id="form-search">
				<input type="hidden" name="c" value="site" />
				<input type="hidden" name="a" value="entry" />
				<input type="hidden" name="m" value="rhinfo_zyxq" />
				<input type="hidden" name="do" value="forum" />
				<input type="hidden" name="op" value="postlist1" />	
				<input type="hidden" name="direct" value="1" />
				<input type="hidden" name="boardid" value="{$boardid}" />
				<div class="col-sm-3 col-lg-3 col-xs-3">
					<div class="form-group">				
						{php echo tpl_form_field_daterange('createtime', array('starttime' => date('Y-m-d H:i',$starttime),'endtime' => date('Y-m-d H:i',$endtime)),true);}
					</div>
				</div>
				<div class="col-sm-3 col-lg-3 col-xs-3">
					<div class="form-group">				
						<input class="form-control" name="keyword"   type="text" value="{$_GPC['keyword']}" placeholder="请输入回复关键字" />
					</div>
				</div>
				
				<div class="col-sm-2 col-lg-2 col-xs-2">
					<div class="form-group">				
						&nbsp;&nbsp;<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>						
					</div>
				</div>
			<span class="pull-right" style="line-height:38px;">共有数据：<strong id="count">{$total}</strong> 条</span> 	    
		</form>
		</div>
		<div class="panel-body table-responsive">
			<table class="table table-hover">
				<thead class="navbar-inner">
				<tr>
					<th width="25"><input type="checkbox" name="selectall" id="selectall" value="" onClick="myallselect(this)"></th>
					<th width="40">ID</th>					
					<th width="100">所属版块</th>				
					<th width="150">所属主体</th>
					<th width="80">创建人</th>
					<th width="100">话题标题</th>
					<th width="100">创建时间</th>
					<th width="60">显示状态</th>
					<th width="60">审核状态</th>
					<th width="200">操作</th>
				</tr>
			</thead>
			{loop $data $k $v}
				<tr>
					<td><input type="checkbox" value="{$v['id']}" name="myselect" id="myselect_{$k}"  ></td>
					<td>{$v['id']}</td>															
					<td>{$v['boardtitle']}</td>										
					<td>{$v['region']}</td>	
					<td>{if !empty($v['avatar'])}<img src="{media $v['avatar']}"  width="36" />{/if}{$v['nickname']}</td>
					<td>{$v['content']}</td>	
					<td>{php echo date('Y-m-d H:i',$v['createtime']);}</td>
					<td class="td-status"><span class="label {if $v['deleted']=='显示'}label-success{else}label-default{/if} radius">{$v['deleted']}</span></td>	
					<td class="td-status"><span class="label {if $v['checked']=='已审'}label-success{else}label-default{/if} radius">{$v['checked']}</span></td>									
					<td>
					{if $rights['edit'] == 1}	
					<a href="javascript:;" onclick="myedit({$v['id']})" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="编辑" ><i class="fa fa-edit"></i> 编辑</a> {/if}
					{if $rights['delete'] == 1}
					<a href="javascript:;" onclick="mydel(this,{$v['id']})" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-trash"></i> 删除</a>{/if}
					<a href="javascript:;" onclick="myreply({$v['id']})" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="回复管理"><i class="fa fa-comment"></i> 回复管理</a>
					
					</td>					
				</tr>
			{/loop}				
		</table>
	  </div>    	  
	</div>	
  </div>
</div>
{template 'web/_iframe_footer'}
{template 'web/_bottom1'}

<script type="text/javascript">
/*全选*/
function myallselect(select){ 

	var obj = document.getElementsByName('myselect'); 
	var tempsta = select.checked; 
	
	for(var k in obj){ 
		if (obj[k].checked != tempsta) {      
		     $("#myselect_"+k).prop("checked", tempsta);  
		}
	}	
}	
/*删除所选*/
function mydelselect(){   
	var count = parseInt($("#count").html());
	if (count == 0){
		return;
	}

	var obj = document.getElementsByName('myselect'); //选择所有name="myselect" id="myselect_{$k}" 的对象，返回数组 
	var i = 0;
	for(var j in obj){ 
		if (obj[j].checked) {//如果选中,则删除   
			i++;
		}
	}
	
	if (i==0){
		layer.msg('请选择要删除的对象.',{icon:0});
	   return ;
	}
	layer.confirm('将删除下属所有相关内容，确认要删除吗？',{icon: 3, title:'提示'},
	function(index){
		//取到对象数组后，循环检测它是不是被选中 
			//取到对象数组后，循环检测它是不是被选中 
		layer.load(1);
		layer.close(index);
		for(var k in obj){ 
			if (obj[k].checked) {//如果选中,则删除                
				$.post("{php echo $this->createWebUrl($mydo).$mywe['direct'];}",
				{op:"postdelete",id:obj[k].value},
				function(data,status){
					 if (data=='ok'){
					 }
					 else{
						layer.msg(data,{icon:0});
						return false;
					 }
				});		
			}
		}
		setTimeout(function(){
			 layer.closeAll();
			 location.reload();
		  },5000);	
	});
}
/*新增*/
function myadd(){
    var url = "{php echo $this->createWeburl($mydo,array('op'=>'postadd')).$mywe['direct'];}";
	window.location.href = url;
}
/*删除*/
function mydel(obj,id){
	layer.confirm('将删除下属所有相关内容，确认要删除吗？',{icon: 3, title:'提示'},
	function(index){
		$.post("{php echo $this->createWebUrl($mydo).$mywe['direct'];}",
			{op:"postdelete",id:id},
			function(data,status){
			 if (data=='ok'){
				$(obj).parents("tr").remove();
				var count = $("#count").html();
				$("#count").html(count - 1);
				layer.msg('删除成功!',{icon:1});
			 }
			 else{
				layer.msg(data,{icon:0});
			 }
		});		
		layer.close(index);
    });
}
/*编辑*/
function myedit(id){
	var url = "{php echo $this->createWeburl($mydo,array('op'=>'postedit')).$mywe['direct'];}" + "&id=" + id;
	window.location.href = url;
}

function myreply(id){
	var url = "{php echo $this->createWeburl($mydo,array('op'=>'replylist')).$mywe['direct'];}" + "&id=" + id;
	window.location.href = url;
}

function myreturn(){
	var url = "{php echo $this->createWeburl($mydo,array('op'=>'list')).$mywe['direct'];}";	
	window.location.href = url;
}

</script>
</body>
</html>