{template 'web/_iframe_header'}
{template 'web/_navtitle'}

<div class="panel panel-default" style="padding-top:50px;">
  <div class="panel-body">  
	<div class="panel panel-default">
	    <div class="panel-heading" style="height:60px;">
		{if $rights['query'] == 1} 
			<form action="./index.php" method="get" class="form-inline" role="form" id="form-search">
				<input type="hidden" name="c" value="site" />
				<input type="hidden" name="a" value="entry" />
				<input type="hidden" name="m" value="rhinfo_zyxq" />
				<input type="hidden" name="do" value="leasea" />
				<input type="hidden" name="op" value="list" />	
				<input type="hidden" name="direct" value="1" />						
		
				<div class="form-group">
					<select class="form-control" id="rid" name="rid"  style="width:160px;">	
						{if empty($regions)}<option value="">选择主体</option>{/if}
						{loop $regions $regionv}
							<option value="{$regionv['id']}" {if $regionv['id'] == $_GPC['rid']} selected {/if} >{$regionv['title']}</option>
						{/loop}
					</select>
				</div>
				<div class="form-group" >
					<select class="form-control" id="paytype" name="paytype" style="width:110px;">
						<option value="">支付方式</option>						
						<option value="1" >微信支付</option>
						<option value="2" >支付宝</option>
						<option value="3" >银联刷卡</option>						
						<option value="4" >生活缴费</option>
						<option value="9" >现金</option>
					</select>
				</div>
				<div class="form-group">
					<input class="form-control" name="keyword" type="text" value="{$_GPC['keyword']}" placeholder="输入车位" style="width:200px;"/>
				</div>								
				<div class="form-group">				
					{php echo tpl_form_field_daterange('paydate', array('starttime' => date('Y-m-d',$starttime),'endtime' => date('Y-m-d',$endtime)));}
				</div>
				<div class="form-group">
					<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>					
					{if $rights['export'] == 1}
						<button name="export" value="export" class="btn btn-default"><i class="fa fa-download"></i> 导出数据</button>
					{/if}
				</div>
				<span class="pull-right" style="line-height:38px;">总金额：<strong class="text-success">{php echo $totalfee?$totalfee:0}</strong>&nbsp;&nbsp;</strong></span> 
			</form>
		{/if}			
	    </div>
  
		<div class="panel-body table-responsive">
			<table class="table table-hover">
				<thead class="navbar-inner">
				<tr>
					<th width="60">ID</th>
					<th width="80">收费项目</th>			
					<th width="100">所属主体</th>
					<th width="100">承租人</th>		
					<th width="100">账单日期</th>
					<th width="50">状态</th>
					<th width="60">费用</th>
					<th width="60">实付</th>
					<th width="80">支付方式</th>
					<th width="120">付款时间</th>
				</tr>
				</thead>
			{loop $data $k $v}
				<tr>
					<td>{$v['id']}</td>					
					<td>{$v['title']}</td>
					<td>{$v['region']}</td>
					<td>{$v['lease']}</td>
					<td>{$v['daterange']}</td>
					<td class="td-status">
					{if $v['status']=='1'}<span class="label label-danger radius">未支付</span>{elseif $v['status']=='2'}<span class="label label-success radius">已支付</span>{else}<span class="label label-warning radius">免单</span>{/if}
					</td>
					<td>{$v['fee']}</td>
					<td>{$v['payfee']}</td>					
					<td>{$v['paytype']}</td>
					<td>{$v['paydate']}</td>									
				</tr>
			{/loop}				
		</table>
	  </div>    	  
	</div>	
  </div>
</div>
{template 'web/_iframe_footer'}
{template 'web/_bottom1'}

<script type="text/javascript">			
	
function myallselect(select){ 

	var obj = document.getElementsByName('myselect'); 
	var tempsta = select.checked; 
	
	for(var k in obj){ 
		if (obj[k].checked != tempsta) {      
		     $("#myselect_"+k).prop("checked", tempsta);  
		}
	}	
}	

function mydelselect(){   
	var count = parseInt($("#count").html());
	if (count == 0){
		return;
	}

	var obj = document.getElementsByName('myselect'); //选择所有name="myselect" id="myselect_{$k}" 的对象，返回数组 
	var i = 0;
	for(var j in obj){ 
		if (obj[j].checked) {//如果选中,则删除   
			i++;
		}
	}
	
	if (i==0){
		layer.msg('请选择要删除的对象.',{icon:0});
	   return ;
	}
	layer.confirm('将删除下属所有相关内容，确认要删除吗？',{icon: 3, title:'提示'},
	function(index){
		//取到对象数组后，循环检测它是不是被选中 
		layer.load(1);
		layer.close(index);
		for(var k in obj){ 
			if (obj[k].checked) {//如果选中,则删除                
				$.post("{php echo $this->createWebUrl($mydo).$mywe['direct'];}",
				{op:"deletebill",id:obj[k].value},
				function(data,status){
					 if (data=='ok'){
					 }
					 else{
						layer.msg(data,{icon:0});
						return false;
					 }
				});		
			}
		}
		setTimeout(function(){
			 layer.closeAll();
			 location.reload();
		  },5000);	
	});
}
function mydel(obj,id){
	layer.confirm('将删除下属所有相关内容，确认要删除吗？',{icon: 3, title:'提示'},
	function(index){
		$.post("{php echo $this->createWebUrl($mydo).$mywe['direct'];}",
			{op:"deletebill",id:id},
			function(data,status){
			 if (data=='ok'){
				$(obj).parents("tr").remove();
				var count = $("#count").html();
				$("#count").html(count - 1);
				layer.msg('删除成功!',{icon:1});
			 }
			 else{
				layer.msg(data,{icon:0});
			 }
		});
		layer.close(index);
    });
}
function mybill(id,hid){
	var url = "{php echo $this->createWeburl('feecala',array('op'=>'mybill')).$mywe['direct'];}" + "&id=" + id + "&hid=" + hid;
	window.location.href = url;	
}
function myedit(id,category){
	var url = "{php echo $this->createWeburl($mydo,array('op'=>'editbill')).$mywe['direct'];}" + "&id=" + id + "&category=" + category;
	window.location.href = url;
}
</script>
</body>
</html>