{template 'web/_iframe_header'}
{template 'web/_navtitle1'}

<div class="panel panel-default" style="padding-top:50px;">
    <div class="panel-body">    
		<form action="" class="form-horizontal form" method="post" role="form" enctype="multipart/form-data" id="myform" >
			<input type="hidden" name="token" value="{$_W['token']}" />	
			<input type="hidden" name="id" id="id" value="{$item['id']}" />	
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">平台状态</label>
				<div class="col-sm-7 col-lg-8 col-xs-12">
					<label class="radio-inline">
						<input type="radio" name="isclose" value="1" {if $item['isclose']==1 } checked{/if} /> 关闭</label>
					<label  class="radio-inline">
						<input type="radio" name="isclose" value="0" {if empty($item['isclose']) || $item['isclose']==0 } checked{/if} /> 开启</label>
					<span class="help-block">关闭状态手机端无访问</span>			
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">平台关闭原因</label>
				<div class="col-sm-6 col-lg-6 col-xs-12">
					<input type="text" class="form-control" id="closereason" value="{$item['closereason']}" placeholder="输入关闭原因" name="closereason">	
					<span class="help-block">关闭状态前端提示文字</span>	
				</div>		
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">平台关闭跳转地址</label>
				<div class="col-sm-6 col-lg-6 col-xs-12">
					<input type="text" class="form-control" id="closeurl" value="{$item['closeurl']}" placeholder="输入关闭跳转地址" name="closeurl">		
					<span class="help-block">链接地址请包含http(s)</span>	
				</div>		
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">平台后台标题</label>
				<div class="col-sm-6 col-lg-6 col-xs-12">
					<input type="text" class="form-control" id="title" value="{$item['title']}" placeholder="输入后台标题" name="title">
					<span class="help-block">无LOGO时则显示</span>
				</div>	
			</div>

			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">平台后台LOGO</label>
				<div class="col-sm-6 col-lg-6 col-xs-12">
					{php echo tpl_form_field_image('logo',$item['logo']);}
					<span class="help-block">建议尺寸60*300</span>
				</div>	
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">平台看板密码</label>
				<div class="col-sm-6 col-lg-6 col-xs-12">
					<input type="text" class="form-control" name="board_password" value="{$item['board_password']}" placeholder="输入看板密码" />					
				</div>	
			</div>	
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">物业后台标题</label>
				<div class="col-sm-6 col-lg-6 col-xs-12">
					<input type="text" class="form-control" id="ptitle" value="{$item['ptitle']}" placeholder="输入后台标题" name="ptitle">
					<span class="help-block">无LOGO时则显示</span>
				</div>	
			</div>

			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">物业后台LOGO</label>
				<div class="col-sm-6 col-lg-6 col-xs-12">
					{php echo tpl_form_field_image('plogo',$item['plogo']);}
					<span class="help-block">建议尺寸60*300</span>
				</div>	
			</div>

			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">物业后台背景</label>
				<div class="col-sm-6 col-lg-6 col-xs-12">
					{php echo tpl_form_field_image('pbackground',$item['pbackground']);}
					<span class="help-block">建议尺寸1600*1024</span>
				</div>	
			</div>

			 <div class="form-group">
				   <label class="col-xs-12 col-sm-2 col-md-2 control-label">物业后台颜色</label>
					<div class="col-sm-8 col-lg-9 col-xs-12">
					  {php echo tpl_form_field_color('pbgcolor',$item['pbgcolor'])}
					  <span class="help-block">为空取默认颜色</span>
					</div>
			 </div> 

			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">物业后台版权信息</label>
				<div class="col-sm-6 col-lg-6 col-xs-12">
					<textarea class="form-control" id="copyright"  name="copyright" autocomplete="off">{$item['copyright']}</textarea>
					<span class="help-block">自定义后台底部信息，支持HTML</span>	
				</div>		
			</div>
			
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">前台标题</label>
				<div class="col-sm-6 col-lg-6 col-xs-12">
					<input type="text" class="form-control" id="wxtitle" value="{$item['wxtitle']}" placeholder="输入前台标题" name="wxtitle">
					<span class="help-block">微信端标题信息</span>
				</div>	
			</div>

			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">前台版权信息</label>
				<div class="col-sm-6 col-lg-6 col-xs-12">
					<textarea class="form-control" id="wxcopyright"  name="wxcopyright" autocomplete="off">{$item['wxcopyright']}</textarea>
					<span class="help-block">自定义微信端底部信息，支持HTML</span>	
				</div>		
			</div>

			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">统计代码</label>
				<div class="col-sm-6 col-lg-6 col-xs-12">
					<textarea class="form-control" id="statistic"  name="statistics" autocomplete="off" rows="5">{$item['statistics']} </textarea>
					<span class="help-block">微信端统计代码</span>	
				</div>		
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">平台版权</label>
				<div class="col-sm-7 col-lg-8 col-xs-12">
					<label class="radio-inline">
						<input type="radio" name="wecopyright" value="1" {if $item['wecopyright']==1 } checked{/if} /> 关闭</label>
					<label  class="radio-inline">
						<input type="radio" name="wecopyright" value="0" {if empty($item['wecopyright']) || $item['wecopyright']==0 } checked{/if} /> 开启</label>
					<span class="help-block">关闭后则不显示</span>			
				</div>
			</div>
		</form>
	</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
   <div class="col-sm-8 col-lg-9 col-xs-12 col-sm-offset-2" style="margin-top:8px;">   
	   <a href="javascript:;" class="btn btn-primary"  onclick="mysubmit(this)"><i class="fa fa-check"></i> 保存<a/>
   </div>
</nav>

{template 'web/_iframe_footer'}

<script type="text/javascript">

function mysubmit(obj){
	myprocess(obj);
	$("#myform").submit();
}
function myprocess(obj){
	var html = '<img src="../addons/rhinfo_zyxq/static/web/images/loading-s.gif" style="width:15px;height:15px;"/> 处理中...';
	$(obj).html(html);  
	$(obj).attr("disabled", "disabled"); 
}
function myreturn(){
	 parent.removeIframe();
}
</script>

</body>
</html>