<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$title}</title>
	<link rel="stylesheet" type="text/css" href="../addons/rhinfo_zyxq/static/web/ui/css/ui.reset.css" />
	<link href="./resource/css/bootstrap.min.css?v=20180909" rel="stylesheet">
	<link href="./resource/css/common.min.css?v=20180909" rel="stylesheet">	
	<script type="text/javascript" src="../web/resource/js/lib/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../addons/rhinfo_zyxq/static/lib/layer3.03/layer.js"></script>
</head>
<body>

