<form action="" class="form-horizontal form" method="post" role="form" enctype="multipart/form-data" id="myform" >
	<input type="hidden" name="token" value="{$_W['token']}" />	
	<input type="hidden" name="id" id="id" value="{$item['id']}" />	
    
	{if $_W['uid']} 
	<div class="form-group">
		<label class="col-sm-2 col-md-2 col-xs-12 control-label"><span class="text-danger">*</span>所属物业</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<select class="form-control"  name="pid" id="pid" onchange="renderCategory(this,'region','rid')">
				<option value="0">请选择</option>
				{loop $myproperty $k $v}
					<option value="{$v['id']}" {if $item['pid'] == $v['id']} selected {/if} >{$v['title']}</option>
				{/loop}
			</select>	
		</div>
	</div>
	{else}
		<input type="hidden" class="form-control" id="pid" value="{$mywe['pid']}" name="pid" />
	{/if}
	
	<div class="form-group">
		<label class="col-sm-2 col-md-2 col-xs-12 control-label"><span class="text-danger">*</span>所属主体</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<select class="form-control" id="rid" name="rid" onchange="renderCategory(this,'category','cateid')">
				<option value="0">请选择</option>
				{loop $eregions $i $r}
					<option value="{$r['id']}" {if $item['rid'] == $r['id']} selected {/if} >{$r['title']}</option>
				{/loop}
				{if $_W['uid']} 
				{else}
					{if $operation=='add'}
						{loop $regions $i $r}
							<option value="{$r['id']}" {if $item['rid'] == $r['id']} selected {/if} >{$r['title']}</option>
						{/loop}
					{/if}
				{/if}
			</select>
		</div>
	</div>	
	<div class="form-group">
		<label class="col-sm-2 col-md-2 col-xs-12 control-label">物品类别</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<select class="form-control" id="cateid" name="cateid">				
				{if $operation=='add'}
					<option value="0">请选择</option>
				{else}
					{loop $ecates $cate}
						<option value="{$cate['id']}" {if $item['cateid'] == $cate['id']} selected {/if} >{$cate['title']}</option>
					{/loop}
				{/if}
			</select>
		</div>
	</div>	
	<div class="form-group">
		<label class="col-sm-2 col-md-2 col-xs-12 control-label"><span class="text-danger">*</span>物品名称</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" class="form-control" id="title" value="{$item['title']}" placeholder="输入物品名称" name="title" />
		</div>	
	</div>	
   	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">规格型号</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" class="form-control" id="spec" value="{$item['spec']}" placeholder="输入物品编号" name="spec" />
		</div>	
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">厂商品牌</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" class="form-control" id="brand" value="{$item['brand']}" placeholder="输入厂商品牌" name="brand" />
		</div>	
	</div>
    <div class="form-group sendtype">
	  <label class="col-sm-2 col-md-2 col-xs-12 control-label"><span class="text-danger">*</span>安装位置</label>
	  <div class="col-sm-8 col-lg-9 col-xs-12">
		<input type="text" name="position" id="position" value="{$item['position']}" placeholder="输入安装位置" class="form-control">
		<span class="help-block">物品安装的具体位置</span>
		</div>
	</div>	

	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>物品编号</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" class="form-control" id="goodssn" value="{$item['goodssn']}" placeholder="输入物品编号" name="goodssn" />
		</div>	
	</div>

	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">价格</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<div class="input-group">
				<input type="number" class="form-control" id="price" value="{$item['price']}" placeholder="输入单价" name="price" />
				 <span class="input-group-addon"> 元 / 个</span>
			 </div>
		</div>	
	</div>	
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">保修开始日期</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			{php echo tpl_form_field_date('startdate',$item['startdate']);}
		</div>	
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">保修结束日期</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			{php echo tpl_form_field_date('enddate',$item['enddate']);}
		</div>	
	</div>
			
	<div class="form-group sendtype">
		  <label class="col-sm-2 col-md-2 col-xs-12 control-label">备注</label>
		  <div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" name="remark" value="{$item['remark']}" class="form-control">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 col-md-2 col-xs-12 control-label">状态</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<label class='radio-inline'>
			<input type='radio' name='status' value='1'  {if $item['status']==1 } checked{/if}/> 已使用
			</label>
			<label class='radio-inline'>
				<input type='radio' name='status' value='0' {if empty($item['status']) || $item['status']==0 } checked{/if} /> 未使用
			</label>
		</div>
	</div>
	</br>
</form>	
<script type="text/javascript">
	window._region = {php echo json_encode($myregion);};	
	window._category = {php echo json_encode($mycategory);};	
	function renderCategory(obj, name,id){
		var index = obj.options[obj.selectedIndex].value;
		require(['jquery', 'util'], function($, u){
			$selectChild = $("#"+ id);
			var html = '<option value="0">请选择</option>';
			if (id=='rid'){
				$("#cateid").html(html);				
			}			

			if (!window['_'+name] || !window['_'+name][index]) {
				$selectChild.html(html);
				return false;
			}
			for(var i=0; i< window['_'+name][index].length; i++){
				html += '<option value="'+window['_'+name][index][i]['id']+'">'+window['_'+name][index][i]['title']+'</option>';
			}
			$selectChild.html(html);
		});
	}
</script>