{template 'web/_layer_header'}
{template 'web/_navtitle1'}

<div class="panel panel-default" style="padding-top:30px;" >
    <div class="panel-body">    
		{template 'web/'.$mydo.'/form'}	
    </div>
</div>

{template 'web/_layer_footer'}
{template 'web/_bottom'}

<script type="text/javascript">
function mysubmit(obj){
	var id = $.trim($("#id").val());
	var title = $.trim($("#title").val());
    var position = $.trim($("#position").val());
	var goodssn = $.trim($("#goodssn").val());
	var pid = $("#pid").find("option:selected").val();
	var rid = $("#rid").find("option:selected").val(); 
	
	if (pid=='0') {
	   layer.msg("所属物业不能为空！",{icon:0});
	   return;
	}
	
	if (rid=='0') {
	   layer.msg("所属主体不能为空！",{icon:0});
	   return;
	}
	if (title=='') {
	   layer.msg("物品名称不能为空！",{icon:0});
	   return;
	}
	if (goodssn=='') {
	   layer.msg("物品编号不能为空！",{icon:0});
	   return;
	}
	$.post("{php echo $this->createWebUrl($mydo).$mywe['direct'];}",
	{ post:"$_GPC['op']",op:"check",goodssn:goodssn,id:id,rid:rid},
	function(data,status){
	 if (data=='ok'){		
		myprocess(obj);
		$("#myform").submit();
	 }
	 else{
		layer.msg(data,{icon:0});
		return ;
	 }
	});	
}

function myreturn(){
	window.history.back();
}

</script> 

</body>
</html>