{template $this->mytpl('_header')}
<style>
.verify-pop {
    position: fixed;
}
.verify-pop .qrcode {
    width: 250px;
    margin-left: -125px;
    border-radius: 0.3rem;
    height: auto;
    overflow: hidden;
}

.verify-pop.pop .qrcode {
    width: 90%;
    margin-left: -45%;
    overflow: hidden;
    display: block;
}
.verify-pop.pop .qrcode .inner .title {
    text-align: center;
    font-size: 0.75rem;
    height: 1.5rem;
	margin-top:0.5rem;
}
.fui-card .fui-card-info img {
	width: 0.8rem;
	height: 0.8rem;
}
</style>
<div class="fui-page fui-page-current order-list-page">
	<div class="fui-header">
		<div class="fui-header-left">
			<a class="back"></a>
		</div>
		<div class="title">我的快件</div>
		<div class="fui-header-right">
		<a href="{php echo $this->createMobileUrl('express',array('op'=>'list'));}">译站</a>
		</div>
	</div>
	<div id="tab" class="fui-tab fui-tab-danger">
		<a data-tab="tab2" class="external {if $_GPC['cate']==2}active{/if}">取件</a>
		<a data-tab="tab1" class="external {if $_GPC['cate']==1}active{/if}">寄件</a>
	</div>
	<div class='fui-content'>		
		<div class="container"></div>
		<div class="board-list-empty" style="display:none;color:#999;font-size:.75rem;margin:.5rem;text-align: center;">
		<i class="icon icon-information" style="font-size:4rem;color:#ccc;"></i> <br/>暂时没有任何内容</div>
        <div class='infinite-loading'><span class='fui-preloader'></span><span class='text'> 正在加载...</span></div>
	</div> 
	<div class="pop-express-hidden" style="display:none;">
		<div class="verify-pop pop">
			<div class="close"><i class="icon icon-roundclose"></i></div> 
			<div class="qrcode">
				<div class="inner">
					<div class="title">取件二维码</div>
				</div>			
				<div class="fui-cell-group fui-cell-click external">
					<div style="text-align:center;" id="eqrcode"></div>
					<div class="fui-cell-tip" style="text-align:center;">请让驿站管理人员扫一扫</div>
				</div>	
			</div>
		</div>
	</div>
	<script type="text/html" id="tpl_express_take_list">
	 <%each list as row%>
		<div class="fui-card fui-card-list" style="overflow:hidden;">
			<div class='fui-card-info <% if row.status==0%>express<%/if%>' data-qrcode="<%row.qrcode%>" style="padding-bottom:0.5rem;">
				<div class="text">                        
					<div class="title text-orange"><%row.expresssn%><% if row.status==1%><span class="text-default pull-right">已取件</span><%/if%><% if row.status==0%><span class="text-danger pull-right">待取件</span><%/if%></div>
					<div class="subtitle">入库时间：<%row.ctime%></div>
					<%if row.taketime !="" %><div class="subtitle">取件时间：<%row.taketime%></div><%/if%>
					<%if row.local !="" %><div class="subtitle">存放位置：<%row.local%></div><%/if%>
					<%if row.remark !="" %><div class="subtitle">备注：<%row.remark%></div><%/if%>
				</div>	
			</div>
		</div>
    <%/each%>
	</script>
	<script type="text/html" id="tpl_express_send_list">
	 <%each list as row%>
		<div class="fui-card fui-card-list " style="overflow:hidden;">
			 <a class='fui-card-info  <%if row.pay==1%>payexpress<%/if%>' data-money="<%row.price%>" data-sid="<%row.sid%>" data-eid="<%row.id%>" style="padding-bottom:0.5rem;" <% if row.url !=""%>href="<%row.url%>"<%/if%>>
				<div class="text">                        
					<div class="title text-orange"><%if row.expresssn !=""%><%row.expresssn%><%/if%> <%row.fromcity%> - <%row.city%> 
					<span class="pull-right"><%if row.thumb!=""%><img src="<%row.thumb%>"/><%/if%> <%row.comptitle%></span>
					</div>
					<div class="subtitle">下单时间：<%row.ctime%></div>
					<div class="subtitle">物品类别：<%row.title%>*<%row.qty%> 重量(kg)：<%row.weight%><% if row.status==1%><% if row.paytype==1 && row.paystatus==0%><span class="text-success pull-right"><%if row.price>0%>待支付<%else%>到店付<%/if%></span><%else%><span class="text-default pull-right">已派件</span><%/if%><%/if%><% if row.status==0%><span class="text-danger pull-right">待派件</span><%/if%></div>
					<%if row.taketime !="" %><span class="subtitle">取件时间：<%row.taketime%></span><%/if%>
					<%if row.remark !="" %><div class="subtitle">备注：<%row.remark%></div><%/if%>
				</div>	
			</a>
		</div>
    <%/each%>
	</script>
	<script language='javascript'>
		require(['express/pay'], function (modal) {
			modal.initTab({
			   cate:"{$_GPC['cate']}"
			});
		});
	</script>
 </div>
<script language='javascript'>		
	jssdkconfig = {php echo json_encode($_W['account']['jssdkconfig']);} || { jsApiList:[] };
	jssdkconfig.debug = false;
	wx.config(jssdkconfig);	
	wx.ready(function () {
		wx.hideOptionMenu();
	});
</script>
</body>
</html>