{template 'web/_layer_header'}
{template 'web/_navtitle1'}

<div class="panel panel-default" style="padding-top:30px;" >
    <div class="panel-body">    
		{template 'web/'.$mydo.'/formcomp'}	
    </div>
</div>

{template 'web/_layer_footer'}
{template 'web/_bottom'}

<script type="text/javascript">
function mysubmit(obj){
	var id = $.trim($("#id").val());
	var title = $.trim($("#title").val());
	var address = $.trim($("#address").val());
	var province = $(".tpl-province").find("option:selected").val();
	var city = $(".tpl-city").find("option:selected").val();
	var district = $(".tpl-district").find("option:selected").val();	

	if (title=='') {
	   layer.msg("公司名称不能为空！",{icon:0});
	   return;
	}
	
	if (province=='') {
	   layer.msg("省不能为空！",{icon:0});
	   return;
	}
     if (city=='') {
	  layer.msg("市不能为空！",{icon:0});
	   return;
	}		
   if (address=='') {
	   layer.msg("详细地址不能为空！",{icon:0});
	   return;
	}
	var regions = [];
	$('#select2 option').each(function () {
		var $option = $(this);
			regions.push($option.val());		
	});
	$('#regions').val(regions.toString());		
	myprocess(obj);
	$("#myform").submit();
	
}

function myreturn(){
	 var url = "{php echo $this->createWeburl($mydo,array('op'=>'complist')).$mywe['direct'];}";
	 location.href = url;
}

</script> 

</body>
</html>