{template 'web/_layer_header'}
{template 'web/_navtitle1'}

<div class="panel panel-default" style="padding-top:30px;" >
    <div class="panel-body">    
		{template 'web/'.$mydo.'/form'}	
    </div>
</div>

{template 'web/_layer_footer'}
{template 'web/_bottom'}

<script type="text/javascript">

function mysubmit(obj){
	var id = $.trim($("#id").val());
	var title = $.trim($("#title").val());
	var pid = $("#pid").find("option:selected").val();
	var rid = $("#rid").find("option:selected").val(); 
	var cateid = $("#cateid").find("option:selected").val();	
	var address = $.trim($("#address").val());
	var province = $(".tpl-province").find("option:selected").val();
	var city = $(".tpl-city").find("option:selected").val();
	var district = $(".tpl-district").find("option:selected").val();	

	if (pid=='0') {
	   layer.msg("所属物业不能为空！",{icon:0});
	   return;
	}
	
	if (rid=='0') {
	   layer.msg("小区名称不能为空！",{icon:0});
	   return;
	}
	if (cateid=='0') {
	   layer.msg("商家分类不能为空！",{icon:0});
	   return;
	}
	if (title=='') {
	   layer.msg("商家名称不能为空！",{icon:0});
	   return;
	}
	
	if (province=='') {
	   layer.msg("省不能为空！",{icon:0});
	   return;
	}
     if (city=='') {
	  layer.msg("市不能为空！",{icon:0});
	   return;
	}		
   if (address=='') {
	   layer.msg("详细地址不能为空！",{icon:0});
	   return;
	}
		
	myprocess(obj);
	$("#myform").submit();
	
}

function myreturn(){
	 var url = "{php echo $this->createWeburl($mydo,array('op'=>'list')).$mywe['direct'];}";
	 location.href = url;
}

</script> 

</body>
</html>