<form action="" class="form-horizontal form" method="post" role="form" enctype="multipart/form-data" id="myform" >
	<input type="hidden" name="token" value="{$_W['token']}" />	
	<input type="hidden" name="id" id="id" value="{$item['id']}" />	
   
	{if $cate==2} 
	<div class="form-group">
		<label class="col-sm-2 col-md-2 col-xs-12 control-label"> <span class="text-danger">*</span>所属物业</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<select class="form-control"  name="pid" id="pid" onchange="renderCategory(this,'region','rid')">
			{if $operation=='cateadd'}	<option value="0">请选择所属物业</option>{/if}
				{loop $myproperty $k $v}
					<option value="{$v['id']}" {if $item['pid'] == $v['id']} selected {/if} >{$v['title']}</option>
				{/loop}
			</select>				
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-md-2 col-xs-12 control-label"><span class="text-danger">*</span>所属主体</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<select class="form-control" id="rid" name="rid" >
				{if $operation=='cateadd'}	<option value="0">请选择所属主体</option>{/if}
				{loop $eregions $i $r}
					<option value="{$r['id']}" {if $item['rid'] == $r['id']} selected {/if} >{$r['title']}</option>
				{/loop}
			</select>
		</div>
	</div>
	{else}
		<input type="hidden" class="form-control" id="pid" value="0" name="pid" />
		<input type="hidden" class="form-control" id="rid" value="0" name="rid" />
	{/if}
	
	 <div class="form-group">
		<label class="col-sm-2 col-md-2 col-xs-12 control-label">排序</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" class="form-control" placeholder="数字越大，排名越靠前" name="displayorder" value="{$item['displayorder']}">
		</div>
	</div>	
	
	<div class="form-group">
		<label class="col-sm-2 col-md-2 col-xs-12 control-label">显示样式</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<label class="radio-inline">
				<input type="radio" name="style" value="1" {if $item['style']==1 } checked{/if} /> 图标横向排列</label>
			<label  class="radio-inline">
				<input type="radio" name="style" value="2" {if empty($item['style']) || $item['style']==2 } checked{/if} /> 图标竖向列表</label>				
			<span class="help-block">图标横向排列为标题+小标题，下面图标横向展开显示，图标竖向采用列表方式显示，且不显示小标题</span>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 col-md-2 col-xs-12 control-label"><span class="text-danger">*</span>分类标题</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" class="form-control" id="title" value="{$item['title']}" placeholder="输入分类标题" name="title" />
		</div>	
	</div>
	
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">选择图标</label>	
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<div class="input-group">
				<input type="text" id="icon" value="{$item['icon']}" name="icon" class="form-control" autocomplete="off">
				<span class="input-group-addon"><i class="icon {$item['icon']}"></i></span>
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" onclick="showIconDialog(this);">选择图标</button>
				</span>
			</div>
			<span class="help-block">分类标题左侧图标</span>
		</div>
	</div>
	
	 <div class="form-group">
	   <label class="col-xs-12 col-sm-2 col-md-2 control-label">图标颜色</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
		  {php echo tpl_form_field_color('color',$item['color'])}
		  <span class="help-block">为空取默认颜色</span>
		</div>
	</div> 
	
	<div class="form-group">
		<label class="col-sm-2 col-md-2 col-xs-12 control-label">小标题</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" class="form-control" id="smalltitle" value="{$item['smalltitle']}" placeholder="输入小标题" name="smalltitle" />
			<span class="help-block">图标横向排列时，显示标题上的小标题</span>
		</div>	
	</div>
	
	 <div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">链接地址</label>	
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<div class="input-group ">
				<input type="text" class="form-control" value="{$item['url']}" placeholder="输入链接地址" name="link" id="link">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" onclick="myshowLinkDialog(this);">内部链接</button>
					<button class="btn btn-default" type="button" onclick="showLinkDialog(this);">系统链接</button>
				</span>
			</div>
			<span class="help-block">外部链接请包含http://，图标横向排列时小标题的链接</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">小程序链接</label>		
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<div class="input-group ">
				<span class="input-group-addon">小程序APPID</span>
				<input type="text" class="form-control"  value="{$item['wxappid']}" placeholder="输入小程序APPID" name="wxappid" />
				<span class="input-group-addon">小程序页面</span>
				<input type="text" class="form-control"  value="{$item['wxapppage']}" placeholder="输入小程序页面" name="wxapppage" id="wxapppage"/>				
			</div>
			<span class="help-block">第三方小程序APPID必须输入，页面可以为空，默认小程序首页</span>
		</div>	
	</div>	
	<div class="form-group">
		<label class="col-sm-2 col-md-2 col-xs-12 control-label">状态</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<label class='radio-inline'>
			<input type='radio' name='status' value='1'  {if $item['status']==1 } checked{/if}/> 显示
			</label>
			<label class='radio-inline'>
				<input type='radio' name='status' value='0' {if empty($item['status']) || $item['status']==0 } checked{/if} /> 隐藏
			</label>
		</div>
	</div>
	</br>
	
</form>	

<script type="text/javascript">
	window._region = {php echo json_encode($myregion);};				
	function renderCategory(obj, name,id){
		var index = obj.options[obj.selectedIndex].value;
		require(['jquery', 'util'], function($, u){
			$selectChild = $("#"+ id);
			var html = '<option value="0">请选择所属主体</option>';			

			if (!window['_'+name] || !window['_'+name][index]) {
				$selectChild.html(html);
				return false;
			}
			for(var i=0; i< window['_'+name][index].length; i++){
				html += '<option value="'+window['_'+name][index][i]['id']+'">'+window['_'+name][index][i]['title']+'</option>';
			}
			$selectChild.html(html);
		});
	}
	
	function showLinkDialog(elm) {
		var ipt = $(elm).parent().prev();
		util.linkBrowser(function(href){		
			ipt.val(href);			
		});
	}
	function showIconDialog(elm) {
		require(["util","jquery"], function(u, $){
			var btn = $(elm);
			var spview = btn.parent().prev();
			var ipt = spview.prev();
			if(!ipt.val()){
				spview.css("display","none");
			}
			
			var myicon = ipt.attr('id');
			
			var footer = '<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>';
			var modalobj = util.dialog('请选择图标',["{php echo $this->createWeburl('query',array('op'=>'icon')).$mywe['direct'];}&myicon=" + myicon],footer,{containerName:'icon-container'});
			modalobj.modal({'keyboard': false});
			modalobj.find('.modal-dialog').css({'width':'70%'});
			modalobj.find('.modal-body').css({'height':'70%','overflow-y':'scroll'});
			modalobj.modal('show');
		});
	}
	function myshowLinkDialog(elm) {
		var ipt = $(elm).parent().prev();
		require(["util","jquery"], function(u, $){
			var myurl = ipt.attr('id');			
			var footer = '<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>';
			var modalobj = util.dialog('请选择链接',["{php echo $this->createWeburl('query',array('op'=>'url')).$mywe['direct'];}&myurl=" + myurl],footer,{containerName:'icon-container'});
			modalobj.modal({'keyboard': false});
			modalobj.find('.modal-dialog').css({'width':'70%'});
			modalobj.find('.modal-body').css({'height':'70%','overflow-y':'scroll'});
			modalobj.modal('show');
		});	
	}
</script>