<div class="form-group member-group">
	<input type="hidden" class="form-control" value="0"  name="subid[]">
	<div class="input-group">
		<span class="input-group-addon">电流</span>		
		<input type="number" class="form-control" value="1"  name="current[]">	
		<span class="input-group-addon">A，充电时间</span>		
		<input type="number" class="form-control" value="1"  name="hour[]">			
		<span class="input-group-addon">小时，等于</span>		
		<input type="number" class="form-control"   value="1" name="price[]">
		<span class="input-group-addon">元</span>
		<span class="input-group-btn">
			<button class="btn btn-danger" type="button" onclick="removeprice(this)" ><i class="fa fa-trash-o"></i> 删除</button>
		</span>
	</div>
</div>
