<aside class="Hui-aside">
	<div class="head-logo">
	{if $_W['uid']} 
		<a {if $_W['role'] == 'founder'} href="{url 'account/post' array('uniacid' => $_W['uniacid'],'acid'=>$_W['acid'])}" target="_blank" {/if}>
		 	<img src="{if is_file(IA_ROOT.'/attachment/headimg_'.$mywe['weid'].'.png')}{php echo tomedia('headimg_'.$mywe['weid']).'.png'}{elseif is_file(IA_ROOT.'/attachment/headimg_'.$mywe['weid'].'.jpg')}{php echo tomedia('headimg_'.$mywe['weid']).'.jpg';}{else}../addons/rhinfo_zyxq/static/web/ui.admin/images/zylogo.png{/if}?time={php echo time()}" height="60" class="round" onerror="this.src='../addons/rhinfo_zyxq/static/web/ui.admin/images/zylogo.png'"/>		   
		</a>
		<p>{$_W['account']['name']}</p>
	{else}
		{if $property['logo']}
		<img src="{php echo tomedia($property['logo']);}" width="60" class="round"  onerror="this.src='../addons/rhinfo_zyxq/static/web/ui.admin/images/zylogo.png'"/>	
		{elseif $property['banner']}
		<img src="{php echo tomedia($property['banner']);}" style="max-width:150px;" class="thumbnail"  onerror="this.src='../addons/rhinfo_zyxq/static/web/ui.admin/images/zylogo.png'"/>		   		
		{else}
		<img src="../addons/rhinfo_zyxq/static/web/ui.admin/images/zylogo.png" width="60" class="round"  onerror="this.src='../addons/rhinfo_zyxq/static/web/ui.admin/images/zylogo.png'"/>	
		{/if}
		<p>{$property['title']}</p>
	{/if}		
	</div>
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
	{loop $menus $i $m}
	 <dl id="menu{$i}">
		<dt><i class="Hui-iconfont {$m['iconfont']}"></i> {$m['title']}<i class="Hui-iconfont menu_dropdown-arrow Hui-iconfont-arrow2-bottom"></i></dt>
			<dd>
				<ul>
					{loop $m['submenus'] $k $v}
						<li><a data-href="{$v['url']}" data-title="{$v['title']}" href="javascript:void(0)">{$v['title']} <i class="Hui-iconfont Hui-iconfont-arrow2-right f-r mr-5"></i></a></li>						
					{/loop}					
				</ul>
			</dd>
		</dl>	
	{/loop}
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>