<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" href="favicon.ico" />
<title>{if !empty($_W['uid'])}{if empty($company['title'])}智慧物业管理系统{else}{$company['title']}{/if}{else}{if empty($company['ptitle'])}智慧物业管理系统{else}{$company['ptitle']}{/if}{/if}</title>
<link rel="stylesheet" type="text/css" href="../addons/rhinfo_zyxq/static/web/ui/css/ui.reset.css" />
<link rel="stylesheet" type="text/css" href="../addons/rhinfo_zyxq/static/web/ui/css/ui.min.css" />
<link rel="stylesheet" type="text/css" href="../addons/rhinfo_zyxq/static/web/ui.admin/css/ui.admin.css?v={TIMESTAMP}" />
<link rel="stylesheet" type="text/css" href="../addons/rhinfo_zyxq/static/web/ui/iconfont/iconfont.min.css" />
<link rel="stylesheet" type="text/css" href="../addons/rhinfo_zyxq/static/web/ui.admin/skin/default/skin.css?v={TIMESTAMP}" id="skin" />
<script src='../addons/rhinfo_zyxq/static/lib/worker/socket.io.js'></script>
<script type="text/javascript" src="./resource/js/lib/jquery-1.11.1.min.js"></script>
</head>