{template 'web/_iframe_header'}
{template 'web/_navtitle'}

<div class="panel panel-default" style="padding-top:50px;">
  <div class="panel-body">    
  {if $rights['query'] == 1}  
	<div class="collapse" id="mycollapse">
	<form action="./index.php" method="get" class="form-horizontal" role="form" id="form-search">
		<input type="hidden" name="c" value="site" />
		<input type="hidden" name="a" value="entry" />
		<input type="hidden" name="m" value="rhinfo_zyxq" />
		<input type="hidden" name="do" value="visit" />
		<input type="hidden" name="op" value="list" >
		<input type="hidden" name="direct" value="1" >
		<input type="hidden" name="mycon" id="mycon" value="1" />
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 control-label">省/市/区</label>
			<div class="col-sm-8 col-lg-9 col-xs-12">
				{php echo tpl_form_field_district('area', array('province' => $_GPC['area']['province'], 'city' => $_GPC['area']['city'], 'district' => $_GPC['area']['district'] ));}
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 control-label">所属主体</label>
			<div class="col-sm-8 col-lg-9 col-xs-12">
				<input class="form-control" name="regionname"   type="text" value="{$_GPC['regionname']}" placeholder="请输入所属主体名称" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 control-label">关键字</label>
			<div class="col-sm-8 col-lg-9 col-xs-12">
				<input class="form-control" name="keyword"   type="text" value="{$_GPC['keyword']}" placeholder="请输入手机号或姓名或昵称">
			</div>
		</div>
		<div class="form-inline form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 control-label">日期范围</label>
			<div class="col-sm-8 col-lg-9 col-xs-12">				
				{php echo tpl_form_field_daterange('visittime', array('start' => date('Y-m-d',$starttime),'end' => date('Y-m-d',$endtime)));}
				<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
				{if $rights['export'] == 1}
				<button name="export" value="export" class="btn btn-default"><i class="fa fa-download"></i> 导出数据</button>
				{/if}
			</div>
		</div>
	</form>
	</div>
	{/if}
	<div class="panel panel-default">
	    <div class="panel-heading">
			{if $rights['delete'] == 1}
				{if $_W['role'] == 'founder' || $_W['role']=='owner' || $_W['role']=='manager'}
					<a href="javascript:;" onclick="mydelselect()" class="btn btn-danger"><i class="fa fa-trash-o"></i> 批量删除</a>
				{/if}
			{/if}
			{if $rights['query'] == 1}  
			<a class="btn btn-primary" onclick="mycondition(this)"  data-toggle="collapse" href="#mycollapse" aria-expanded="false" aria-controls="mycollapse">
			<i class="fa fa-angle-double-down"></i> 筛选条件</a>
			{/if}
			<span class="pull-right" style="line-height:38px;">共有数据：<strong id="count">{$total}</strong> 条</span> 
	    </div>
  
		<div class="panel-body table-responsive">
			<table class="table table-hover">
				<thead class="navbar-inner">
				<tr>
					<th width="25"><input type="checkbox" name="selectall" id="selectall" value="" onClick="myallselect(this)"></th>
					<th width="40">ID</th>
					<th width="100">所属主体</th>
					<th width="80">门禁</th>
					<th width="100">业主</th>
					<th width="80">有效分钟</th>
					<th width="80">有效次数</th>
					<th width="80">访客</th>					
					<th width="80">来访事由</th>
					<th width="100">访客时间</th>
					<th width="60">车牌</th>
					<th width="80">操作</th>
				</tr>
			</thead>
			{loop $data $k $v}
				<tr>
					<td><input type="checkbox" value="{$v['id']}" name="myselect" id="myselect_{$k}"  ></td>
					<td>{$v['id']}</td>		
					<td>{$v['region']}</td>
					<td>{$v['title']}</td>
					<td>{$v['house']}</td>
					<td>{$v['effedate']}</td>
					<td>{$v['opentimes']}</td>
					<td>{if !empty($v['avatar'])}<img src="{media $v['avatar']}"  width="26" />{/if} {$v['realname']}</td>
					<td>{$v['reason']}</td>
					<td>{$v['ctime']}</td>
					<td>{$v['carno']}</td>
					<td class="td-manage">	
					{if $rights['delete'] == 1}
					<a title="删除" href="javascript:;" onclick="mydel(this,{$v['id']})" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-trash"></i> 删除</a></td>
					{/if}
				</tr>
			{/loop}			
		</table>
	  </div>    	  
	</div>	
  </div>

{template 'web/_iframe_footer'}
{template 'web/_bottom1'}

<script type="text/javascript">

function myallselect(select){ 

	var obj = document.getElementsByName('myselect'); 
	var tempsta = select.checked; 
	
	for(var k in obj){ 
		if (obj[k].checked != tempsta) {      
		     $("#myselect_"+k).prop("checked", tempsta);  
		}
	}	
}	

function mydelselect(){   	
	var obj = document.getElementsByName('myselect'); //选择所有name="myselect" id="myselect_{$k}" 的对象，返回数组 
	var i = 0;
	for(var j in obj){ 
		if (obj[j].checked) {//如果选中,则删除   
			i++;
		}
	}
	
	if (i==0){
		layer.msg('请选择要删除的对象.',{icon:0});
	   return ;
	}
	layer.confirm('确认要删除吗？',{icon: 3, title:'提示'},
	function(index){	
		//取到对象数组后，循环检测它是不是被选中 
		layer.msg('处理中...', {icon: 16});
		layer.close(index);
		for(var k in obj){ 
			if (obj[k].checked) {//如果选中,则删除                
				$.post("{php echo $this->createWebUrl('visit').$mywe['direct'];}",
				{op:"delete",id:obj[k].value},
				function(data,status){
					 if (data=='ok'){
					 }
					 else{
						layer.msg(data,{icon:0});
						return false;
					 }
				});		
			}
		}
		setTimeout(function(){
			 layer.closeAll();
			 location.reload();
		  },5000);	
	});
}

function mydel(obj,id){
	window.scrollTo(0,0);
	layer.confirm('确认要删除吗？',{icon: 3, title:'提示'},
	function(index){			
		$.post("{php echo $this->createWebUrl('visit').$mywe['direct'];}",
		{op:"delete",id:id},
		function(data,status){
		 if (data=='ok'){
			$(obj).parents("tr").remove();
			var count = $("#count").html();
			$("#count").html(count - 1);
			layer.msg('删除成功!',{icon:1});
		 }
		 else{
			layer.msg(data,{icon:0});
		 }
		});		
		layer.close(index);
    });
}

function mycondition(obj){
    var mycon = $("#mycon").val();
	var html = '';
	if (mycon==1){
		html = '<i class="fa fa-angle-double-up"></i> 隐藏筛选';
		$("#mycon").val("2");
		$("#mycollapse").show("slow");
	}
	else {
		html = '<i class="fa fa-angle-double-down"></i> 筛选条件';
		$("#mycon").val("1");
		$("#mycollapse").hide("slow");
	}
	$(obj).html(html);
}
</script>
</body>
</html>