{template 'web/_iframe_header'}
{template 'web/_navtitle1'}

<div class="panel panel-default" style="padding-top:50px;">
    <div class="panel-body">    
		<form action="" class="form-horizontal form" method="post" role="form" enctype="multipart/form-data" id="myform" >
			<input type="hidden" name="token" value="{$_W['token']}" />
			<input type="hidden" value="{$item['id']}" id="id" name="id"/>
			<input type="hidden" name="pid" value="{$pid}" />
			<input type="hidden" name="rid" value="{$rid}" />	
			<input type="hidden" name="flid" value="{$item['flid']}" />	
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>区域名称</label>
				<div class="col-sm-8 col-lg-9 col-xs-12">
					<input type="text" class="form-control" id="title" value="{$item['title']}" placeholder="输入区域名称" name="title" />
				</div>	
			</div>
			
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">备注</label>
				<div class="col-sm-8 col-lg-9 col-xs-12">
					<input type="text" class="form-control" id="remark" value="{$item['remark']}" placeholder="输入备注" name="remark" />
				</div>	
			</div>
			
		</form>	
    </div>
</div>

{template 'web/_layer_footer'}
{template 'web/_bottom'}

<script type="text/javascript">

var pid = "{$pid}";
var rid = "{$rid}";

function mysubmit(obj){
	var id = $.trim($("#id").val());
	var title = $.trim($("#title").val());
	
    if (title=='') {
	   layer.msg("区域名称不能为空！");
	   return;
	}	
	
    $.post("{php echo $this->createWebUrl($mydo);}",
	{ post:"edit",op:"check_location",title:title,pid:pid,rid:rid,id:id,direct:1},
	function(data,status){
	 if (data=='ok'){
		myprocess(obj);
		$("#myform").submit();
	 }
	 else{
		layer.msg(data);
		return ;
	 }
	});	
}

function myreturn(){
	 var url = "{php echo $this->createWeburl($mydo,array('op'=>'list','category'=>$category)).$mywe['direct'];}" + "&pid=" + pid + "&rid=" + rid;
	 location.href = url;
}

</script> 

</body>
</html>