<div class="form-group">
	<input type="hidden" class="form-control" value="0"  name="ruleid[]">
	<div class="input-group">
		<span class="input-group-addon">从</span>		
		<input type="number" class="form-control"   placeholder="楼层" name="floorstart[]">
		<span class="input-group-addon">到</span>
		<input type="number" class="form-control"   placeholder="楼层" name="floorend[]">
		<span class="input-group-addon">单价</span>		
		<input type="text" class="form-control"   name="price1[]">
		<span class="input-group-addon">元</span>
		<span class="input-group-addon"><a href="javascript:;" onclick="removepricerule(this)" ><i class="fa fa-close"></i> </a></span>		
	</div>
</div>
