{template 'web/_layer_header'}
{template 'web/_navtitle1'}

<div class="panel panel-default" style="padding-top:30px;">
    <div class="panel-body">    
		{template 'web/'.$mydo.'/form'}	
    </div>
</div>

{template 'web/_layer_footer'}
{template 'web/_bottom'}

<script type="text/javascript">

function mysubmit(obj){
	var id = $.trim($("#id").val());
	var title = $.trim($("#title").val());
	var contact = $.trim($("#contact").val());
	var telphone = $.trim($("#telphone").val());
	var address = $.trim($("#address").val());
	var province = $(".tpl-province").find("option:selected").val();
	var city = $(".tpl-city").find("option:selected").val();
	var district = $(".tpl-district").find("option:selected").val();	
	var property = $("#pid").find("option:selected").val();	

    if (title=='') {
	   layer.msg("名称不能为空！",{icon:0});
	   return;
	}
	 if (property=='') {
	   layer.msg("所属物业不能为空！",{icon:0});
	   return;
	}
    if (contact=='') {
	   layer.msg("联系人不能为空！",{icon:0});
	   return;
	}	
   if (telphone=='') {
	   layer.msg("联系电话不能为空！",{icon:0});
	   return;
	}	
   if (province=='') {
	   layer.msg("省不能为空！",{icon:0});
	   return;
	}
     if (city=='') {
	  layer.msg("市不能为空！",{icon:0});
	   return;
	}		
   if (address=='') {
	   layer.msg("详细地址不能为空！",{icon:0});
	   return;
	}
 $.post("{php echo $this->createWebUrl($mydo).$mywe['direct'];}",
	{ post:"{$_GPC['op']}",op:"check",title:title,id:id},
	function(data,status){
	 if (data=='ok'){		
		myprocess(obj);
		$("#myform").submit();
	 }
	 else{
		layer.msg(data,{icon:0});
		return ;
	 }
	});	
}

function myreturn(){
	 var url = "{php echo $this->createWeburl($mydo,array('op'=>'list','category'=>$category)).$mywe['direct'];}";
	 location.href = url;
}

</script> 

</body>
</html>