{template 'web/_layer_header'}
<style>
html { overflow-x:hidden; }
</style>
<nav class="navbar navbar-fixed-top" style="margin-top:5px;margin-right:20px;">
<span class="pull-right"><a href="javascript:;" class="btn btn-success"  onclick="mysubmit(this)"><i class="fa fa-save"></i> 保存</a></span>   
</nav>
<div class="panel panel-default" style="width:580px;">
    <div class="panel-body">    
		<form action="" method="post" role="form" enctype="multipart/form-data" id="myform" >
			<input type="hidden" name="token" value="{$_W['token']}" />
			<input type="hidden" name="id" value="{$item['id']}" id="id" />
			<input type="hidden" name="pid" value="{$pid}" />
			<input type="hidden" name="rid" value="{$rid}" />
			<input type="hidden" name="bid" value="{$bid}" />
			<div class="form-group">
				<label class="control-label"><span class="text-danger">*</span>储物间名称</label>
				<input type="text" class="form-control" id="title" value="{$item['title']}" placeholder="输入车库名，如：103" name="title" />
			</div>

			<div class="form-group">
				<label class="control-label">建筑面积</label>
				<input type="number" class="form-control" id="buildarea" value="{$item['buildarea']}" placeholder="输入建筑面积" name="buildarea" />
			</div>

			<div class="form-group">
				<label class="control-label">使用面积</label>
				<input type="number" class="form-control" id="usearea" value="{$item['usearea']}" placeholder="输入建筑面积" name="usearea" />
			</div>

			<div class="form-group">
				<label class="control-label">附加面积</label>
				<input type="number" class="form-control" id="addarea" value="{$item['addarea']}" placeholder="输入附加面积" name="addarea" />
			</div>				

			<div class="form-group">
				<label class="control-label">业主姓名</label>
				<input type="text" class="form-control" id="ownername" value="{$item['ownername']}" placeholder="输入业主姓名" name="ownername" />
			</div>
			<div class="form-group">
				<label class="control-label">手机号码</label>
				<input type="number" class="form-control" id="mobile" value="{$item['mobile']}" placeholder="输入手机号码" name="mobile">
				<label class="control-label">备用号码</label>
				<input type="number" class="form-control" id="mobile1" value="{$item['mobile1']}" placeholder="输入手机号码" name="mobile1">
			</div>
			<div class="form-group">
				<label class="control-label">交费截止日期</label>
				{php echo tpl_form_field_date('paydate',$item['paydate']);}
				<span class="help-block">系统账单上线时，储物间缴费截止日期</span>
			</div>			
			<div class="form-group">
				<label class="control-label">收费状态</label>
				<div class="input-group">
					<label class="radio-inline">
						<input type="radio" name="isfree" id="isfree1" value="0" {if empty($item['isfree']) || $item['isfree']==0 } checked{/if} />收费</label>
					<label  class="radio-inline">
						<input type="radio" name="isfree" id="isfree2" value="1" {if $item['isfree']==1 } checked{/if} /> 免费</label>
					<label  class="radio-inline">
						<input type="radio" name="isfree" id="isfree3" value="2" {if $item['isfree']==2 } checked{/if} /> 闲置</label>
							
				</div>
			</div>
			<div id="freedate" style="display:none;">
				<div class="form-group">
					<label class="control-label">免费开始日期</label>
					{php echo tpl_form_field_date('freestart',$item['freestart']);}
				</div>
				<div class="form-group">
					<label class="control-label">免费终止日期</label>
					{php echo tpl_form_field_date('freeend',$item['freeend']);}
				</div>
			</div>
			<div class="form-group" style="display:none;">
				<label class="control-label">享受折扣</label>
				<input type="text" class="form-control" id="isdiscount" value="{$item['isdiscount']}" placeholder="输入折扣" name="isdiscount">
				<span class="help-block">请输入折扣1~10这间的数值，为空为不折扣</span>
			</div>
			<div class="form-group">
				<label class="control-label">电表编号</label>
				<input type="text" class="form-control" id="electmeter" value="{$item['electmeter']}" placeholder="输入电表编号" name="electmeter">
			</div>
			<div class="form-group">
				<label class="control-label">备注</label>
				<textarea style="height: 60px;" class="form-control" name="remark">{$item['remark']}</textarea>
			</div>
		</form>	
		<script type="text/javascript">
			var isfree = "{$item['isfree']}";
			if(isfree=='1'){
				 $("#freedate").show();
			}

			 $("input[name=isfree]").click(function(){
				  switch($("input[name=isfree]:checked").attr("id")){
				  case "isfree1":			   
					   $("#freedate").hide();
					   break;
				  case "isfree2":			
					   $("#freedate").show();
					   break;
				  default:
					   $("#freedate").hide();	
					   break;
					}
			 });	 
		</script>
	</div>
</div>

{template 'web/_layer_footer'}

<script type="text/javascript">

var pid = "{$pid}";
var rid = "{$rid}";
var bid = "{$bid}";

function mysubmit(obj){
	var id = $.trim($("#id").val());
	var title = $.trim($("#title").val());
	
    if (title=='') {
	   layer.msg("车库名称不能为空！",{icon:0});
	   return;
	}	
	
    $.post("{php echo $this->createWebUrl($mydo);}",
	{ op:"check",post:"edit",title:title,pid:pid,rid:rid,bid:bid,direct:1},
	function(data,status){
	 if (data=='ok'){		
	   myprocess(obj);
		var loadindex = layer.load(2);			
		$.ajax({  
			 type : "post",  
			  url : "{php echo $this->createWebUrl($mydo,array('op'=>'guideedit')).$mywe['direct'];}",  
			  data : $("#myform").serializeObject(),   
			  async : false,  
			  success : function(data){
				  layer.close(loadindex);
				  if(data!='ok'){
					 layer.msg(data,{icon:0});
					 myreset(obj);
					 return
				  }			  
				  layer.msg('保存成功!',{icon:1});
				  setTimeout(function(){
					  var index = parent.layer.getFrameIndex(window.name);
					  parent.layer.close(index);
				  },2000);
			  }  
		 }); 
	 }
	 else{
		layer.msg(data);
		return ;
	 }
	});	
}

function myprocess(obj){
	var html = '<img src="../addons/rhinfo_zyxq/static/web/images/loading-s.gif" style="width:15px;height:15px;"/> 处理中...';
	$(obj).html(html);  
	$(obj).attr("disabled", "disabled"); 
}
function myreset(obj){
	var html = '<i class="fa fa-save"></i> 保存';
	$(obj).html(html);  
	$(obj).removeAttr("disabled"); 
}

</script> 

</body>
</html>