{template 'web/_iframe_header'}
{template 'web/_navtitle'}

<div class="panel panel-default" style="padding-top:30px;">
    <div class="panel-body">    
		{template 'web/'.$mydo.'/form'}	
    </div>
</div>

{template 'web/_layer_footer'}
{template 'web/_bottom'}

<script type="text/javascript">

function mysubmit(obj){
	var title = $.trim($("#title").val());
	var locksn = $.trim($("#locksn").val());
	var pid = $("#pid").find("option:selected").val();
	var rid = $("#rid").find("option:selected").val(); 
    
	if (pid=='0') {
	   layer.msg("所属物业不能为空！");
	   return;
	}
	
	if (rid=='0') {
	   layer.msg("小区名称不能为空！");
	   return;
	}
	if (title=='') {
	   layer.msg("门禁名称不能为空！");
	   return;
	}
	if (locksn=='') {
	   layer.msg("锁序列号不能为空！");
	   return;
	}
	
   $.post("{php echo $this->createWebUrl($mydo).$mywe['direct'];}",
	{ post:'add',op:"check",locksn:locksn},
	function(data,status){
	 if (data=='ok'){		
		myprocess(obj);
		$("#myform").submit();
	 }
	 else{
		layer.msg(data);
		return ;
	 }
	});	
}

function myreturn(){
	 var url = "{php echo $this->createWeburl($mydo,array('op'=>'list')).$mywe['direct'];}";
	 location.href = url;
}

</script> 

</body>
</html>