<form action="" class="form-horizontal form" method="post" role="form" enctype="multipart/form-data" id="myform" >
	<input type="hidden" name="token" value="{$_W['token']}" />	
	<input type="hidden" name="id" id="id" value="{$item['id']}" />	
    
	{if $_W['uid']} 
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label"> <span class="text-danger">*</span>所属物业</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<select class="form-control"  name="pid" id="pid" onchange="renderCategory(this,'region','rid')">
				<option value="0">请选择</option>
				{loop $myproperty $k $v}
					<option value="{$v['id']}" {if $item['pid'] == $v['id']} selected {/if} >{$v['title']}</option>
				{/loop}
			</select>				
		</div>
	</div>
	{else}
		<input type="hidden" class="form-control" id="pid" value="{$mywe['pid']}" name="pid" />
	{/if}
	
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>所属主体</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<select class="form-control" id="rid" name="rid" onchange="renderCategory(this,'building','bid')">
				<option value="0">请选择</option>	
				{loop $eregions $i $r}
					<option value="{$r['id']}" {if $item['rid'] == $r['id']} selected {/if} >{$r['title']}</option>
				{/loop}
				{if $_W['uid']} 
				{else}
					{if $operation=='add'}
						{loop $regions $i $r}
							<option value="{$r['id']}" {if $item['rid'] == $r['id']} selected {/if} >{$r['title']}</option>
						{/loop}
					{/if}
				{/if}
			</select>
		</div>
	</div>	
	
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">楼宇</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<select class="form-control" id="bid" name="bid" onchange="renderCategory(this,'unit','tid')">
				<option value="0">请选择</option>	
				{loop $ebuildings $j $d}
					<option value="{$d['id']}" {if $item['bid'] == $d['id']} selected {/if} >{$d['title']}</option>
				{/loop}			
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">单元</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<select class="form-control" id="tid" name="tid" >
				<option value="0">请选择</option>	
				{loop $eunits $m $t}
					<option value="{$t['id']}" {if $item['tid'] == $t['id']} selected {/if} >{$t['title']}</option>
				{/loop}				
			</select>
		</div>
	</div>	

	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>梯控名称</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" class="form-control" id="title" value="{$item['title']}" placeholder="输入梯控名称" name="title" />
			<span class="help-block">可以输入电梯所在楼栋单元及编号。</span>
		</div>	
	</div>

	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>设备序列号</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" class="form-control" id="locksn" value="{$item['locksn']}" placeholder="输入设备序列号" name="locksn" />
		</div>	
	</div>
	
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>设备类别</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<label class='radio-inline'><input type="radio" name="devtype" value="1" {if $item['devtype'] == 1 || empty($item['devtype'])} checked="true" {/if} >读头设备</label>
			<label class='radio-inline'><input type="radio" name="devtype" value="2" {if $item['devtype'] == 2} checked="true" {/if} >视频设备</label>	
			<label class='radio-inline'><input type="radio" name="devtype" value="3" {if $item['devtype'] == 3} checked="true" {/if} >人脸识别</label>	
			<span class="help-block"></span>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>设备型号</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<select class="form-control" id="locktype" name="locktype">
				<option value="0">请选择</option>	
			<!--<option value="1" {if $item['locktype'] == '1'} selected {/if} >ZR系列</option>	
				<option value="4" {if $item['locktype'] == '4'} selected {/if} >MX系列</option>-->	
				<option value="5" {if $item['locktype'] == '5'} selected {/if} >ML系列</option>	
			<!--<option value="3" {if $item['locktype'] == '3'} selected {/if} >MJ系列</option>-->	
				<option value="2" {if $item['locktype'] == '2'} selected {/if} >BL系列</option>	
				<option value="6" {if $item['locktype'] == '6'} selected {/if} >TM系列</option>	
			<!--<option value="7" {if $item['locktype'] == '7'} selected {/if} >AU系列</option>-->	
			</select>
			<span class="help-block">不同的门禁系列型号对应不同厂家和密钥</span>
		</div>
	</div>
	
		
	<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">经纬度坐标</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<div class="input-group">
				<span class="input-group-addon">经度</span>
				<input type="number" class="form-control" name="lng" id="lng" value="{$item['lng']}" />
				<span class="input-group-addon">纬度</span>
				<input type="number" class="form-control" name="lat" id="lat" value="{$item['lat']}" />
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" id="positioning" onclick="showMapDialog(this)">选择坐标</button>
				</span>
			</div> 
		</div> 
	</div>
	
	<div class="form-group">
	<label class="col-xs-12 col-sm-2 col-md-2 control-label">定位范围</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<div class="input-group">
			   <input type="number" name="doorrange" class="form-control" placeholder="输入距离" value="{$item['doorrange']}" />
			   <span class="input-group-addon">米</span>		   
		   </div>
		   <span class="help-block">定位范围，默认为10米.</span>
		</div>	
	</div>
	
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">物联卡号</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" class="form-control" id="sim" value="{$item['sim']}" placeholder="输入物联卡号" name="sim" />
			<span class="help-block">WIFI模块可为空，GPRS模块方便以后续费，也可为空。</span>
		</div>	
	</div>
	
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">物联卡有效期</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			{php echo tpl_form_field_date('simdate',$item['simdate']);}
			<span class="help-block">WIFI模块可为空，GPRS模块方便以后续费，也可为空。</span>
		</div>	
	</div>
		
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>关联物业费</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<label class='radio-inline'><input type="radio" name="relationfee" value="1" {if $item['relationfee'] == 1 || empty($item['relationfee'])} checked="true" {/if} >关联</label>
			<label class='radio-inline'><input type="radio" name="relationfee" value="2" {if $item['relationfee'] == 2} checked="true" {/if} >不关联</label>										
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span class="text-danger">*</span>状态</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<label class='radio-inline'><input type="radio" name="status" value="1" {if $item['status'] == 1 || empty($item['status'])} checked="true" {/if} >启用</label>
			<label class='radio-inline'><input type="radio" name="status" value="2" {if $item['status'] == 2} checked="true" {/if} >禁用</label>										
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-2 col-md-2 control-label">备注</label>
		<div class="col-sm-8 col-lg-9 col-xs-12">
			<input type="text" class="form-control" id="remark" value="{$item['remark']}" placeholder="输入备注" name="remark" />
		</div>	
	</div>
	<br>
</form>	
<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key={$sysconifg['qq_lbskey']}"></script>
<script type="text/javascript">
	var lbskey = "{$sysconifg['qq_lbskey']}";
	window._region = {php echo json_encode($myregion);};	
	window._building = {php echo json_encode($mybuilding);};
	window._unit = {php echo json_encode($myunit);};
	function renderCategory(obj, name,id){
		var index = obj.options[obj.selectedIndex].value;
		require(['jquery', 'util'], function($, u){
			$selectChild = $("#"+ id);
			var html = '<option value="0">请选择</option>';
			if (id=='rid'){
				$("#bid").html(html);
				$("#tid").html(html);
			}
			else if (id=='bid'){
				$("#tid").html(html);
			}

			if (!window['_'+name] || !window['_'+name][index]) {
				$selectChild.html(html);
				return false;
			}
			for(var i=0; i< window['_'+name][index].length; i++){
				html += '<option value="'+window['_'+name][index][i]['id']+'">'+window['_'+name][index][i]['title']+'</option>';
			}
			$selectChild.html(html);
		});
	}
	
	function showMapDialog(elm) {
		require(["util","jquery"], function(u, $){		
			var content =
					'<div class="form-group">' +
						'<div class="input-group">' +
							'<input type="text" class="form-control" id="seachaddress" placeholder="请输入地址来直接查找相关位置">' +
							'<div class="input-group-btn">' +
								'<button class="btn btn-default" id="btnSearch"><i class="fa fa-search"></i> 搜索</button>' +
							'</div>' +
						'</div>' +
					'</div>' +
					'<div id="map-container" style="height:400px;"></div>';
				var footer =
					'<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>';
				modalobj = util.dialog('请选择坐标', content, footer, {containerName : 'map-dialog'});
				modalobj.find('.modal-dialog').css('width', '80%');
				modalobj.modal({'keyboard': false});
				
				var container = "#map-container";
				var map = new qq.maps.Map('map-container', {
							zoom: 10
						}),
				label = new qq.maps.Label({
					 map: map,
					 offset: new qq.maps.Size(15,-12),
					 draggable: false,
					 clickable: false
				});
			
			  var cityservice = new qq.maps.CityService({
					complete: function (result) {
						map.setCenter(result.detail.latLng);
					}
				});
				
				cityservice.searchLocalCity();

				map.setOptions({
					draggableCursor: "crosshair"
				});
				$(container).mouseenter(function () {
					label.setMap(map);
				});
				$(container).mouseleave(function () {
					label.setMap(null);
				});
				qq.maps.event.addListener(map, "mousemove", function (e) {
					var latlng = e.latLng;
					label.setPosition(latlng);
					label.setContent(latlng.getLat().toFixed(6) + "," + latlng.getLng().toFixed(6));
				});
				qq.maps.event.addListener(map, "click", function (e) {					
					$("#lat").val(e.latLng.getLat().toFixed(6));
					$("#lng").val(e.latLng.getLng().toFixed(6));
					modalobj.modal('hide');
				});				
				modalobj.modal('show');
				
				var btnSearch = btnSearch = document.getElementById("btnSearch");
				qq.maps.event.addDomListener(btnSearch, 'click', function () {
					var value = $("#seachaddress").val();					
					var url = encodeURI("https://apis.map.qq.com/ws/geocoder/v1/?address=" + value + "&key=" + lbskey + "&output=jsonp&&callback=?");
					$.getJSON(url, function (result) {
						map.setCenter(new qq.maps.LatLng(result.result.location.lat, result.result.location.lng));
						map.setZoom(15);
					});
				});
		});
	}
</script>