{template 'web/_iframe_header'}
{template 'web/_navtitle1'}

<div class="panel panel-default" style="padding-top:30px;">
    <div class="panel-body">    
		{template 'web/'.$mydo.'/billformthree'}	
    </div>
</div>

{template 'web/_layer_footer'}
{template 'web/_bottom'}

<script type="text/javascript"> 
var op = "{$_GPC['op']}";
function mysubmit(obj){
	var startqty = $.trim($("#startqty").val());
	var endqty = $.trim($("#endqty").val());
	var threeqty = $.trim($("#threeqty").val());
	var paytype = $("#paytype").find("option:selected").val();
	
	if(startqty >0 && endqty > 0){	
	   if(startqty >= endqty){
		   layer.msg("上期和本期读数输入有误！",{icon:0});
		   return;
	   }
	}
	else {	
		if (threeqty=='' || threeqty==0) {
		   layer.msg("实际用量不能为空，请输入上期和本期读数！",{icon:0});
		   return;
		}
    }
	if(op=='paythree'){
		if (paytype=='' || paytype==0) {
		   layer.msg("支付方式不能为空！",{icon:0});
		   return;
		}		
	}
	var status = $.trim($("#status").val());
	if(status==2){
		layer.msg("已经缴过费了，不可更改，请返回！",{icon:0});
		return;
	}

	myprocess(obj);
	$("#myform").submit();
}

function myreturn(){
	 var url = "{php echo $this->createWeburl($mydo,array('op'=>'three')).$mywe['direct'];}";
	 location.href = url;
}

</script> 

</body>
</html>